﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .mt-radio-outline {
        margin-bottom: 10px !important;
    }

    .mt-radio-list {
        padding: 0px !important;
    }


    #orderDetailTable {
        -webkit-box-shadow: 0px 0px 1px 0px rgba(196,196,196,1);
        -moz-box-shadow: 0px 0px 1px 0px rgba(196,196,196,1);
        box-shadow: 0px 0px 1px 0px rgba(196,196,196,1);
    }

    .control-label {
        text-align: left !important;
    }

    th span, inputHeaders {
        font-weight: bold;
        color: #777777 !important;
    }

    .bg-font-grey-cararra {
        color: #777777 !important;
    }

    .customSpace {
        margin-bottom: 10px;
    }
</style>

<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" ng-controller="OrderController">

    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Orders
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    {{filters.MainCompanyCode}}
                </a>
            </div>
        </div>

    </div>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-md-12" ng-show="actionType === 'list'">
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="row">
                                    <div class="col-md-3" ng-show="!isValid(sessionMainCompany.Code)">


                                        <div class="form-group">
                                            <label class="bold font-green-sharp">Main Company</label>
                                            <select class="form-control" ng-init="filters.MainCompanyCode=sessionMainCompany.Code" ng-model="filters.MainCompanyCode" ng-change="resetSearchResult()" ng-disabled="sessionMainCompany.Code!==''">
                                                <option ng-value="$index===0 ? '' : row.Code" ng-repeat="row in globalMainCompanyList" ng-selected="row.Code === sessionMainCompany.Code">{{$index === 0 ? 'All': row.Name}}</option>
                                            </select>
                                        </div>


                                    </div>
                                    <div class="col-md-3">

                                        <div class="form-group">
                                            <label class="bold bg-font-grey-cararra">Order Type</label>
                                            <select class="form-control" ng-model="filters.OrderType" ng-change="resetSearchResult()">
                                                <option ng-value="-10">All</option>
                                                <option ng-value="1">Goods IN</option>
                                                <option ng-value="-1">Goods OUT</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">

                                        <div class="form-group">
                                            <label class="bold bg-font-grey-cararra">Order Code</label>
                                            <input type="text" ng-model="filters.OrderCode" class="form-control" placeholder="Order Code">
                                        </div>
                                    </div>

                                    @*<div class="col-md-2">
                                        <div class="form-group">
                                            <label class="bold bg-font-grey-cararra">Shipment Code</label>
                                            <input type="text" ng-model="filters.ShipmentCode" class="form-control" placeholder="Shipment Code">
                                        </div>
                                    </div>*@

                                    <div class="col-md-2">

                                        <div class="form-group">
                                            <label class="bold bg-font-grey-cararra">Sync Status</label>
                                            <select class="form-control" ng-model="filters.SyncStatusCode">
                                                <option ng-value="0">All</option>
                                                <option ng-value="200">Success</option>
                                                <option ng-value="100">Waiting</option>
                                                <option ng-value="900">Canceled</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <button type="reset" class="btn btn-success" style="margin: 25px 0px 0px 0px;" ng-click="getListOrder()">Search</button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="portlet-body">


                                <div class="alert alert-success" ng-show="orderList.length  === 0">
                                    <span class="bold" style="font-size:13px;">
                                        {{searchResultText}}
                                    </span>
                                </div>


                                <div class="form-horizontal" ng-show="orderList.length > 0">

                                    <div loading-container="tableParamsOrder.settings().$loading">

                                        <table ng-table="tableParamsOrder" class="table table-striped table-bordered table-advance table-hover" ng-form="tableForm" disable-filter="isAdding" demo-tracked-table="tableTracker">

                                            <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">


                                                <td class="highlight" title="'CreateDate'" ng-switch="row.isEditing" ng-class="Customer.$dirty ? 'bg-warning' : ''" demo-tracked-table-cell style="width:150px !important">
                                                    <div class="danger" ng-if="row.SyncStatusCode==100"></div>
                                                    <div class="success" ng-if="row.SyncStatusCode==200"></div>
                                                    <a href="javascript:;" style="text-decoration:none;color:black"> {{row.CreateDate | date:'dd/MM/yyyy HH:mm:ss'}} </a>
                                                </td>


                                                <td title="'Id'" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                                    <span ng-switch-default class="editable-text">{{row.Id}}</span>
                                                </td>


                                                <td title="'MainCompanyCode'" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left" ng-if="!isValid(filters.MainCompanyCode)" >
                                                    <span ng-switch-default class="editable-text">{{row.MainCompanyCode}}</span>
                                                </td>


                                                <td title="'OrderType '" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                                    <span ng-switch-default class="editable-text">{{row.OrderTypeDesc}}</span>
                                                </td>


                                                <td title="'OrderSubType '" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                                    <span ng-switch-default class="editable-text">{{row.OrderSubTypeDesc}}</span>
                                                </td>

                                                <td title="'OrderDate '" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                                    <span ng-switch-default class="editable-text">{{row.OrderDate}}</span>
                                                </td>





                                                <td title="'OrderCode'" ng-switch="row.isEditing" ng-class="Customer.$dirty ? 'bg-warning' : ''" demo-tracked-table-cell>
                                                    <span ng-switch-default class="editable-text">{{row.OrderCode}}</span>
                                                </td>




                                                <td title="'WarehouseCode '" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                                    <span ng-switch-default class="editable-text">{{row.WarehouseCode }}</span>
                                                </td>






                                                <td style="width:110px !important;" title="'Sync Status'" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">



                                                    <span ng-show="row.SyncStatusCode ===100" ng-click="getOrderWithDetail(row)">
                                                        <span style="width: 110px;cursor:pointer!important;" class="btn btn-bold btn-sm btn-font-sm  btn-label-danger">

                                                            <i class="flaticon-bell-1"></i>
                                                            Wating
                                                        </span>
                                                    </span>



                                                    <span ng-show="row.SyncStatusCode ===200" ng-click="getOrderWithDetail(row)">
                                                        <span style="width: 110px;cursor:pointer!important;" class="btn btn-bold btn-sm btn-font-sm  btn-label-success">

                                                            <i class="flaticon2-check-mark"></i>
                                                            Success
                                                        </span>
                                                    </span>


                                                    <span style="width: 110px!important;cursor:pointer!important;" ng-show="row.SyncStatusCode ===900" ng-click="getOrderWithDetail(row)">
                                                        <span style="width:110px!important; cursor:pointer!important; color:#868686" class="btn btn-bold btn-sm btn-font-sm  btn-label-primary">
                                                            <i class="flaticon2-cancel-music" style="color:#868686"></i>
                                                            Canceled
                                                        </span>
                                                    </span>

                                                </td>

                                                @*<td nowrap="" title="'Actions'">
            <span class="dropdown">
                <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
                    <i class="la la-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="javascript:;" ng-click="getOrderWithDetail(row)"><i class="la la-edit"></i> Edit Details</a>
                    <a class="dropdown-item" href="javascript:;" ng-click="reSync(row)"><i class="la la-leaf"></i> ReSync</a>
                    <a class="dropdown-item" href="javascript:;" ><i class="la la-leaf"></i> Delete</a>
                </div>
            </span>
        </td>*@




                                            </tr>
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" ng-show="actionType === 'detail'">


                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-toolbar col-md-4">
                                <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
                                    <li class="nav-item">
                                        <a id="orderTab" class="nav-link active" data-toggle="tab" href="#tab_order" role="tab" aria-selected="true">
                                            Order
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tab_order_companies" role="tab" aria-selected="false" ng-click="getListOrderCompanies()">
                                            Companies
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tab_order_lines" role="tab" aria-selected="false" ng-click="getListOrderLines()">
                                            Lines
                                        </a>
                                    </li>
                                    <li class="nav-item" ng-show="sessionUser.RoleListStr.includes('AXC')">
                                        <a class="nav-link" data-toggle="tab" href="#tab_order_status" role="tab" aria-selected="false" ng-click="getListEntStatus()">
                                            Status
                                        </a>
                                    </li>
                                    <li class="nav-item" ng-show="sessionUser.RoleListStr.includes('AXC')" >
                                        <a class="nav-link" data-toggle="tab" href="#tab_order_waybill" role="tab" aria-selected="false" ng-click="getListEntWaybillStatus()">
                                            Waybill
                                        </a>
                                    </li>

                                </ul>

                            </div>
                            <div class="col-md-7">
                                <div class="dropdown dropdown-inline" style="float:right;">
                                    <button type="button" class="btn btn-facebook btn-icon-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="reSync()">
                                        ReSync
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="dropdown dropdown-inline" style="float:right;">
                                    <button type="button" class="btn btn-brand btn-icon-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="actionType='list'">
                                        Back
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_order">
                                    <div class="form-group row form-group-marginless kt-margin-t-20">

                                        <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(order.OrderTypeDesc)">OrderType :</label>
                                        <div class="col-lg-2" ng-show="isValid(order.OrderTypeDesc)">
                                            <input class="form-control" value="{{order.OrderTypeDesc}}" disabled>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(order.WarehouseCode)">WarehouseCode :</label>
                                        <div class="col-lg-2" ng-show="isValid(order.WarehouseCode)">
                                            <input class="form-control" value={{order.WarehouseCode}} disabled>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(order.OrderDate)">OrderDate :</label>
                                        <div class="col-lg-2" ng-show="isValid(order.OrderDate)">
                                            <div class="input-group">
                                                <input class="form-control" value={{order.OrderDate}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(order.OrderCode)">OrderCode :</label>
                                        <div class="col-lg-2" ng-show="isValid(order.OrderCode)">
                                            <div class="input-group">
                                                <input class="form-control" value={{order.OrderCode}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(order.OrderId)">OrderId :</label>
                                        <div class="col-lg-2" ng-show="isValid(order.OrderId)">
                                            <div class="input-group">
                                                <input class="form-control" value={{order.OrderId}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(order.CustomerOrderCode)">Cust.OrderCode :</label>
                                        <div class="col-lg-2" ng-show="isValid(order.CustomerOrderCode)">
                                            <div class="input-group">
                                                <input class="form-control" value={{order.CustomerOrderCode}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(order.RelatedOrderCode)">RelatedOrderCode :</label>
                                        <div class="col-lg-2" ng-show="isValid(order.RelatedOrderCode)">
                                            <div class="input-group">
                                                <input class="form-control" value={{order.RelatedOrderCode}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(order.WaybillCode)">WaybillCode :</label>
                                        <div class="col-lg-2" ng-show="isValid(order.WaybillCode)">
                                            <div class="input-group">
                                                <input class="form-control" value={{order.WaybillCode}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(order.PlannedDeliveryDate)">PlannedDate :</label>
                                        <div class="col-lg-2" ng-show="isValid(order.PlannedDeliveryDate)">
                                            <div class="input-group">
                                                <input class="form-control" value={{order.PlannedDeliveryDate}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(order.OrderPriority)">OrderPriority :</label>
                                        <div class="col-lg-2" ng-show="isValid(order.OrderPriority)">
                                            <div class="input-group">
                                                <input class="form-control" value={{order.OrderPriority}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(order.LoadingTypeDesc)">LoadingType :</label>
                                        <div class="col-lg-2" ng-show="isValid(order.LoadingTypeDesc)">
                                            <div class="input-group">
                                                <input class="form-control" value={{order.LoadingTypeDesc}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(order.OrderSubTypeDesc)">OrderSubType :</label>
                                        <div class="col-lg-2" ng-show="isValid(order.OrderSubTypeDesc)">
                                            <div class="input-group">
                                                <input class="form-control" value={{order.OrderSubTypeDesc}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(order.ShipmentCode)">ShipmentCode :</label>
                                        <div class="col-lg-2" ng-show="isValid(order.ShipmentCode)">
                                            <div class="input-group">
                                                <input class="form-control" value={{order.ShipmentCode}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(order.RecordType)">RecordType :</label>
                                        <div class="col-lg-2" ng-show="isValid(order.RecordType)">
                                            <div class="input-group">
                                                <input class="form-control" value="{{order.RecordType === 0 ? 'New Data' : 'Delete Data'}}" disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(order.TempAddres)">TempAddress :</label>
                                        <div class="col-lg-2" ng-show="isValid(order.TempAddres)">
                                            <div class="input-group">
                                                <input class="form-control" value="{{order.TempAddres}}" disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(order.CreateDate)">CreateDate :</label>
                                        <div class="col-lg-2" ng-show="isValid(order.CreateDate)">
                                            <div class="input-group">
                                                <input class="form-control" value="{{order.CreateDate | date:'dd/MM/yyyy HH:mm'}}" disabled>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_order_companies">

                                    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline" id="kt_table_1" role="grid" aria-describedby="kt_table_1_info" style="width: 1310px;">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting_desc" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 100.00px;" aria-sort="descending">CompanyType</th>
                                                            <th class="sorting_desc" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 300.00px;" aria-sort="descending">CompanyName</th>
                                                            <th class="sorting_desc" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 300.00px;" aria-sort="descending">CompanyCode</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 88.25px;" aria-label="Country: activate to sort column ascending">TaxNumber</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 141.25px;" aria-label="Ship Address: activate to sort column ascending">AddressText </th>
                                                            @*<th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 110.25px;" aria-label="Company Agent: activate to sort column ascending">CityName</th>*@
                                                            @*<th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 172.25px;" aria-label="Company Name: activate to sort column ascending">TownName</th>*@
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 53.25px;" aria-label="Ship Date: activate to sort column ascending">OrderRoleType</th>
                                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 68.5px;" aria-label="Actions"></th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr role="row" class="{{$index%2 === 0 ? 'odd' : 'even'}}odd" ng-repeat="row in order.CompanyList">

                                                            <td>{{row.CompanyTypeDesc}}</td>
                                                            <td>{{row.Name}}</td>
                                                            <td>{{row.CompanyCode}}</td>
                                                            <td>{{row.TaxNumber}}</td>
                                                            <td>{{row.AddressText }}</td>
                                                            @*<td>{{row.CityName}}</td>*@
                                                            @*<td>{{row.TownName}}</td>*@
                                                            <td>{{row.OrderRoleType === 1 ? 'Sender' : (row.OrderRoleType === 2 ? 'Receiver' : 'Other')}}</td>
                                                            <td><a href="javascript:;" ng-click="previewCompany(row)">İncele</a></td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="tab-pane" id="tab_order_lines">
                                    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline" id="kt_table_1" role="grid" aria-describedby="kt_table_1_info" style="width: 1310px;">
                                                    <thead>
                                                        <tr role="row">

                                                            <th class="sorting_desc" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 45.25px;" aria-sort="descending">LineCode</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 88.25px;" aria-label="Country: activate to sort column ascending">Quantity</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 113.25px;" aria-label="Ship City: activate to sort column ascending">LotCode</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 113.25px;" aria-label="Ship City: activate to sort column ascending">RecordType</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 113.25px;" aria-label="Ship City: activate to sort column ascending">Item</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 113.25px;" aria-label="Ship City: activate to sort column ascending"></th>

                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr role="row" class="{{$index%2 === 0 ? 'odd' : 'even'}}odd" ng-repeat="rowX in order.Lines">

                                                            <td>{{rowX.LineCode}}</td>
                                                            <td>{{rowX.Quantity}}</td>
                                                            <td>{{rowX.LotCode}}</td>
                                                            <td>{{rowX.RecordType}}</td>
                                                            <td>Ürün Kodu</td>
                                                            <td><a href="javascript:;" ng-click="previewOrderLineAndItemDetails(rowX)">İncele</a></td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                @*   --------------------------------------------------------------------------------------------------------------------------------*@
                                <div class="tab-pane" id="tab_order_status">
                                    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline" id="kt_table_1" role="grid" aria-describedby="kt_table_1_info" style="width: 1310px;">
                                                    <thead>
                                                        <tr role="row">

                                                            <th class="sorting_desc" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 45.25px;" aria-sort="descending">OrderCode</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 88.25px;" aria-label="Country: activate to sort column ascending">Status Description</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 113.25px;" aria-label="Ship City: activate to sort column ascending">Status Date</th>

                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr role="row" class="{{$index%2 === 0 ? 'odd' : 'even'}}odd" ng-repeat="rowX in order.EntStatus">

                                                            <td>{{rowX.OrderCode}}</td>
                                                            <td>{{rowX.StatusCode}}</td>
                                                            <td>{{rowX.StatusDate}}</td>

                                                            @*<td><a href="javascript:;" ng-click="previewOrderLineAndItemDetails(rowX)">İncele</a></td>*@
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*   --------------------------------------------------------------------------------------------------------------------------------*@

                                @*--------------------------------------------------------------------------------------------------------*@


                                <div class="tab-pane" id="tab_order_waybill">
                                    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline" id="kt_table_1" role="grid" aria-describedby="kt_table_1_info" style="width: 1310px;">
                                                    <thead>
                                                        <tr role="row">

                                                            <th class="sorting_desc" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 45.25px;" aria-sort="descending">OrderCode</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 88.25px;" aria-label="Country: activate to sort column ascending">ItemId</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 113.25px;" aria-label="Ship City: activate to sort column ascending">Quantity</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 88.25px;" aria-label="Country: activate to sort column ascending">HKod</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 88.25px;" aria-label="Country: activate to sort column ascending">WareHouse</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 88.25px;" aria-label="Country: activate to sort column ascending">IntCode</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 88.25px;" aria-label="Country: activate to sort column ascending">IntDate</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 88.25px;" aria-label="Country: activate to sort column ascending">IntStatus</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 88.25px;" aria-label="Country: activate to sort column ascending">IntDesc</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 88.25px;" aria-label="Country: activate to sort column ascending">DomainType</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 88.25px;" aria-label="Country: activate to sort column ascending">OrderStatus</th>

                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr role="row" class="{{$index%2 === 0 ? 'odd' : 'even'}}odd" ng-repeat="rowX in order.EntWaybillStatus">
                                                            
                                                            <td>{{rowX.orderCode}}</td>
                                                            <td>{{rowX.ItemId}}</td>
                                                            <td>{{rowX.Quantity}}</td>
                                                            <td>{{rowX.HKod}}</td>
                                                            <td>{{rowX.WarehouseCode}}</td>
                                                            <td>{{rowX.integrationCode}}</td>
                                                            <td>{{rowX.integrationDate}}</td>
                                                            <td>{{rowX.integrationStatus}}</td>
                                                            <td>{{rowX.integrationStatusDesc}}</td>
                                                            <td>{{rowX.domaintype}}</td>
                                                            <td>{{rowX.OrderStatus}}</td>

                                                            @*<td><a href="javascript:;" ng-click="previewOrderLineAndItemDetails(rowX)">İncele</a></td>*@
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    
                                        <div class="col-md-12">
                                            <div class="dropdown dropdown-inline" style="float:right;">
                                                <button type="button" class="btn btn-facebook btn-icon-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="reTransfer()">
                                                    ReTransfer
                                                </button>
                                            </div>
                                        </div>
                                

                                </div>

                                @*--------------------------------------------------------------------------------------------------------*@



                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--MODAL-->
    <div class="modal fade" id="modal-orderLine-detail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="caption-subject font-green-haze bold uppercase" style="font-weight:bold;">ORDER DETAIL AND ITEM DATA</span>
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal" style="float:right !important">Close</button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <form class="form-horizontal" role="form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="form-group row form-group-marginless kt-margin-t-20">

                                                    <label class="col-lg-2 col-form-label customSpace" >TenderCode:</label>
                                                    <div class="col-lg-2">
                                                        <input class="form-control" value="{{tender.Code}}" disabled>
                                                    </div>
                                                </div>

                                                    <div class="form-group row form-group-marginless kt-margin-t-20">

                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(order.OrderCode)">OrderCode :</label>
                                                        <div class="col-lg-3" ng-show="isValid(order.OrderCode)">
                                                            <input class="form-control" value="{{order.OrderCode}}" disabled>
                                                        </div>

                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLine.LineCode)">LineCode</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLine.LineCode)">
                                                            <input class="form-control" value={{selectedOrderLine.LineCode}} disabled>
                                                        </div>

                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLine.Quantity)">Quantity :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLine.Quantity)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLine.Quantity}} disabled>
                                                            </div>
                                                        </div>

                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLine.RecordType)">RecordType :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLine.RecordType)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLine.RecordType}} disabled>
                                                            </div>
                                                        </div>

                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLine.ContainerType)">ContainerType :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLine.ContainerType)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLine.ContainerType}} disabled>
                                                            </div>
                                                        </div>

                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLine.ProductionDate)">ProductionDate :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLine.ProductionDate)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLine.ProductionDate}} disabled>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <hr />
                                                    <div class="form-group row form-group-marginless kt-margin-t-20">

                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLineItem.ItemCode)">ItemCode :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLineItem.ItemCode)">
                                                            <input class="form-control" value="{{selectedOrderLineItem.ItemCode}}" disabled>
                                                        </div>

                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLineItem.ItemDescription)">ItemDescription</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLineItem.ItemDescription)">
                                                            <input class="form-control" value={{selectedOrderLineItem.ItemDescription}} disabled>
                                                        </div>

                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLineItem.ShelfLife)">ShelfLife :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLineItem.ShelfLife)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLineItem.ShelfLife}} disabled>
                                                            </div>
                                                        </div>

                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLineItem.AdrTypeLabel)">AdrTypeLabel :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLineItem.AdrTypeLabel)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLineItem.AdrTypeLabel}} disabled>
                                                            </div>
                                                        </div>

                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLineItem.ContainerType)">AdrUnNumber :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLineItem.ContainerType)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLineItem.ContainerType}} disabled>
                                                            </div>
                                                        </div>

                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLineItem.AdrMainRiskClass)">AdrMainRiskClass :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLineItem.AdrMainRiskClass)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLineItem.AdrMainRiskClass}} disabled>
                                                            </div>
                                                        </div>


                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLineItem.AdrAdditionalRisk)">AdrAdditionalRisk :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLineItem.AdrAdditionalRisk)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLineItem.AdrAdditionalRisk}} disabled>
                                                            </div>
                                                        </div>


                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLineItem.AdrPackageGroup)">AdrPackageGroup :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLineItem.AdrPackageGroup)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLineItem.AdrPackageGroup}} disabled>
                                                            </div>
                                                        </div>


                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLineItem.AdrTunnelRestrictionCode)">AdrTunnelRestrictionCode :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLineItem.AdrTunnelRestrictionCode)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLineItem.AdrTunnelRestrictionCode}} disabled>
                                                            </div>
                                                        </div>


                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLineItem.Volume)">Volume :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLineItem.Volume)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLineItem.Volume}} disabled>
                                                            </div>
                                                        </div>


                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLineItem.GrossWeight)">GrossWeight :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLineItem.GrossWeight)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLineItem.GrossWeight}} disabled>
                                                            </div>
                                                        </div>

                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLineItem.NetWeight)">NetWeight :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLineItem.NetWeight)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLineItem.NetWeight}} disabled>
                                                            </div>
                                                        </div>

                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLineItem.QuantityInPackage)">QuantityInPackage :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLineItem.QuantityInPackage)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLineItem.QuantityInPackage}} disabled>
                                                            </div>
                                                        </div>

                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLineItem.UnitType)">UnitType :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLineItem.UnitType)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLineItem.UnitType}} disabled>
                                                            </div>
                                                        </div>

                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLineItem.Width)">Width :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLineItem.Width)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLineItem.Width}} disabled>
                                                            </div>
                                                        </div>

                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLineItem.Height)">Height :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLineItem.Height)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLineItem.Height}} disabled>
                                                            </div>
                                                        </div>
                                                        <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedOrderLineItem.Length)">Length :</label>
                                                        <div class="col-lg-3" ng-show="isValid(selectedOrderLineItem.Length)">
                                                            <div class="input-group">
                                                                <input class="form-control" value={{selectedOrderLineItem.Length}} disabled>
                                                            </div>
                                                        </div>




                                                    </div>
                                                </div>

                                            </div>

                                        <!--/row-->
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                    </div>

                    <br />
                    <hr />
                    <br />

                    <div class="row">
                        <div class="col-md-12" ng-show="selectedOrderLineItemBarcodeList.length>0">
                            <div class="portlet light customPortlet" style="height:auto;">
                                <div class="portlet-title">
                                    <div class="actions">
                                        <span style="font-weight:bold;">ITEM BARCODE LIST</span><br /><br />
                                    </div>
                                </div>
                                <div class="portlet-body">

                                    <div class="col-lg-12">
                                        <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline" id="kt_table_12" role="grid" aria-describedby="kt_table_1_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_desc" tabindex="0" aria-controls="kt_table_12" rowspan="1" colspan="1" style="width: 100.00px;" aria-sort="descending">ItemCode</th>
                                                    <th class="sorting_desc" tabindex="0" aria-controls="kt_table_12" rowspan="1" colspan="1" style="width: 300.00px;" aria-sort="descending">Barcode</th>
                                                    <th class="sorting_desc" tabindex="0" aria-controls="kt_table_12" rowspan="1" colspan="1" style="width: 300.00px;" aria-sort="descending">IsDefault</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr role="row" class="{{$index%2 === 0 ? 'odd' : 'even'}}odd" ng-repeat="row in selectedOrderLineItemBarcodeList">
                                                    <td>{{row.ItemCode}}</td>
                                                    <td>{{row.Barcode}}</td>
                                                    <td>{{row.IsDefault}}</td>
                                                </tr>

                                            </tbody>

                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" ng-show="selectedOrderLineItemEachCustList.length>0">
                            <div class="portlet light customPortlet" style="height:auto;">
                                <div class="portlet-title">
                                    <br /><br />
                                    <span style="font-weight:bold">ITEM EACH CUSTOMER LIST</span><br /><br />

                                    <div class="actions">
                                        <span class="caption-subject bg-font-red sbold" style="color:#8f8f8f!important">
                                            {{logItem.ResponseDate | date:'dd/MM/yyyy HH:mm:ss'}}
                                        </span>
                                    </div>
                                </div>
                                <div class="portlet-body">

                                    <div class="col-lg-12">
                                        <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline" id="kt_table_12" role="grid" aria-describedby="kt_table_1_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_desc" tabindex="0" aria-controls="kt_table_12" rowspan="1" colspan="1" style="width: 100.00px;" aria-sort="descending">CustomerCode</th>
                                                    <th class="sorting_desc" tabindex="0" aria-controls="kt_table_12" rowspan="1" colspan="1" style="width: 300.00px;" aria-sort="descending">CustomerTitle</th>
                                                    <th class="sorting_desc" tabindex="0" aria-controls="kt_table_12" rowspan="1" colspan="1" style="width: 300.00px;" aria-sort="descending">ItemCode</th>
                                                    <th class="sorting_desc" tabindex="0" aria-controls="kt_table_12" rowspan="1" colspan="1" style="width: 300.00px;" aria-sort="descending">CustItemCode</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr role="row" class="{{$index%2 === 0 ? 'odd' : 'even'}}odd" ng-repeat="row in selectedOrderLineItemEachCustList">
                                                    <td>{{row.CustomerCode}}</td>
                                                    <td>{{row.CustomerTitle}}</td>
                                                    <td>{{row.ItemCode}}</td>
                                                    <td>{{row.CustItemCode}}</td>
                                                </tr>

                                            </tbody>

                                        </table>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal fade" id="modal-company-detail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="caption-subject font-green-haze bold uppercase" style="font-weight:bold;">COMPANY</span>
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal" style="float:right !important">Close</button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <form class="form-horizontal" role="form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="form-group row form-group-marginless kt-margin-t-20">

                                                    <label class="col-lg-3 col-form-label customSpace">OrderCode :</label>
                                                    <div class="col-lg-3">
                                                        <input class="form-control" value="{{order.OrderCode}}" disabled>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.Name)">Company Name</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.Name)">
                                                        <input class="form-control" value={{selectedCompany.Name}} disabled>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.CompanyCode)">Company Code</label>
                                                    <div class="col-lg-3"ng-show="isValid(selectedCompany.CompanyCode)">
                                                        <input class="form-control" value={{selectedCompany.CompanyCode}} disabled>
                                                    </div>
                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.TaxNumber)">TaxNumber :</label>
                                                    <div class="col-lg-3"ng-show="isValid(selectedCompany.TaxNumber)">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.TaxNumber}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.TaxDepartmentName)">TaxDepartmentName :</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.TaxDepartmentName)">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.TaxDepartmentName}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.CityCode)">CityCode :</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.CityCode)">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.CityCode}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.CityName)">CityName :</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.CityName)">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.CityName}} disabled>
                                                        </div>
                                                    </div>

                                                </div>
                                                <hr />
                                                <div class="form-group row form-group-marginless kt-margin-t-20">

                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.TownCode)">TownCode :</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.TownCode)">
                                                        <input class="form-control" value="{{selectedCompany.TownCode}}" disabled>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.TownName)">TownName</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.TownName)">
                                                        <input class="form-control" value={{selectedCompany.TownName}} disabled>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.AddressText)">AddressText :</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.AddressText)">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.AddressText}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.GLN)">GLN :</label>
                                                    <div class="col-lg-3 " ng-show="isValid(selectedCompany.GLN)">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.GLN}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.IsDispatcher)">IsDispatcher :</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.IsDispatcher)">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.IsDispatcher}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.Phone)">Phone :</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.Phone)">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.Phone}} disabled>
                                                        </div>
                                                    </div>


                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.PostCode)">PostCode :</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.PostCode)">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.PostCode}} disabled>
                                                        </div>
                                                    </div>


                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.ContactCode)">ContactCode :</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.ContactCode)">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.ContactCode}} disabled>
                                                        </div>
                                                    </div>


                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.ContactName)">ContactName :</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.ContactName)">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.ContactName}} disabled>
                                                        </div>
                                                    </div>


                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.ContactMail)">ContactMail :</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.ContactMail)">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.ContactMail}} disabled>
                                                        </div>
                                                    </div>


                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.ContactPhone)">ContactPhone :</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.ContactPhone)">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.ContactPhone}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.CompanyTypeDesc)">CompanyType :</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.CompanyTypeDesc)">
                                                        <div class="input-group">
                                                            <input class="form-control" value="{{selectedCompany.CompanyTypeDesc}}" disabled>

                                                            
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.CompanyCode)">CompanyCode :</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.CompanyCode)">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.CompanyCode}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.ParentCompanyCode)">ParentCompanyCode :</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.ParentCompanyCode)">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.ParentCompanyCode}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace" ng-show="isValid(selectedCompany.OrderRoleType)">OrderRoleType :</label>
                                                    <div class="col-lg-3" ng-show="isValid(selectedCompany.OrderRoleType)">
                                                        <div class="input-group">
                                                            <input class="form-control" value="{{selectedCompany.OrderRoleType === 1 ? 'Sender' : (row.OrderRoleType === 2 ? 'Receiver' : 'Other')}}"disabled>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>

                                        </div>

                                        <!--/row-->
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>

<script src="/Assets/Scripts/Website/Order.js"></script>
