﻿
@*@model IEnumerable<ESube.Service.Models.IntegrationDetails>*@
@model PagedList.IPagedList<ESube.Service.Models.IntegrationDetails>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<p>
    @* @Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Sipariş Tipi(Giriş/Çıkış)")
        </th>
        <th>
            @Html.ActionLink("DocumentId", "Index", new { sortOrder = ViewBag.DocSortParm })
        </th>
        <th>
            @Html.DisplayName("Sipariş Alt Tipi")
        </th>
        <th>
            @Html.DisplayName("Hareket Kodu")
        </th>
        <th>
            @Html.DisplayName("İrsaliye Numarası")
        </th>
        <th>
            @Html.ActionLink("İrsaliye Tarihi", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.DisplayName("Araç Plakası")
        </th>
        <th>
            @Html.DisplayName("Palet Barkodu")
        </th>
        <th>
            @Html.DisplayName("Depo")
        </th>
        <th>
            @Html.DisplayName("Ent Kodu")
        </th>
        <th>
            @Html.DisplayName("Ent Tarihi")
        </th>
        <th>
            @Html.DisplayName("Ent Durumu")
        </th>
        <th>
            @Html.DisplayName("Ent Açıklama")
        </th>
        <th>
            @Html.DisplayName("Ent İçerik")
        </th>
        <th>
            @Html.DisplayName("Sipariş Kodu")
        </th>
        <th>
            @Html.DisplayName("Ent Gönderildi mi?")
        </th>
        <th>
            @Html.DisplayName("Tarih")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orderMainType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderSubType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S75HTIP1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaybillNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaybillDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehiclePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PalletBarcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S75GT_IntegrationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S75GT_IntegrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S75GT_IntegrationStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S75GT_IntegrationStatusDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S75GT_IntegrationContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S75STAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createDate)
            </td>
            <td>
                @Html.ActionLink("Gönder", "Resend", new { id = item.DocumentId })
                @*@Html.ActionLink("Details", "Details", new { id=item.rowNumber }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.rowNumber })*@
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))