﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        .mt-radio-outline {
            margin-bottom: 10px !important;
        }

        .mt-radio-list {
            padding: 0px !important;
        }


        #orderDetailTable {
            -webkit-box-shadow: 0px 0px 1px 0px rgba(196,196,196,1);
            -moz-box-shadow: 0px 0px 1px 0px rgba(196,196,196,1);
            box-shadow: 0px 0px 1px 0px rgba(196,196,196,1);
        }

        .control-label {
            text-align: left !important;
        }

        th span, inputHeaders {
            font-weight: bold;
            color: #777777 !important;
        }

        .bg-font-grey-cararra {
            color: #777777 !important;
        }

        .customSpace {
            margin-bottom: 10px;
        }
    </style>

<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" ng-controller="Content_ReportController">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Contents
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Report
                </a>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a href="javascript:;" ng-show="actionType === 'List'" ng-click="setActionType('Create',null)" class="btn kt-subheader__btn-primary" style="background-color:#0abb87!important;color:white!important;">
                    New &nbsp;
                    <!--<i class="flaticon2-calendar-1"></i>-->
                </a>
            </div>
        </div>
    </div>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content" >
        <div class="row">

            <div class="col-lg-12" ng-show="actionType === 'List'">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body">
                        <div class="row">

                            <div class="col-md-12" >
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="row">
                                            <div class="col-md-5">

                                                <div class="form-group">
                                                    <label class="bold bg-font-grey-cararra">Main Company</label>
                                                    <select class="form-control" ng-model="filters.MainCompanyCode" ng-change="resetSearchResult()">
                                                        <option ng-repeat="row in globalMainCompanyList" ng-value="$index === 0 ? '' : row.Code">{{$index === 0 ?'All':row.Name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-5">

                                                <div class="form-group">
                                                    <label class="bold bg-font-grey-cararra">Report Name</label>
                                                    <input class="form-control" type="text" ng-model="filters.Name"  placeholder="Report Name" >
                                                </div>
                                            </div>
                                     
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <button type="reset" class="btn btn-success" style="margin: 25px 0px 0px 0px;" ng-disabled="filters.CompanyCode===''" ng-click="getListReport()">Search</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="portlet-body">


                                        <div class="alert alert-success" ng-show="reportList.length  === 0">
                                            <span class="bold" style="font-size:13px;">
                                                {{searchResultText}}
                                            </span>
                                        </div>


                                        <div class="form-horizontal" ng-show="reportList.length > 0">

                                            <div loading-container="tableParamsReport.settings().$loading">


                                                <table ng-table="tableParamsReport" class="table table-striped table-bordered table-advance table-hover" ng-form="tableForm" disable-filter="isAdding" demo-tracked-table="tableTracker">

                                                    <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">


                                                        <td title="'CreateDate'" ng-switch="row.isEditing" ng-class="Customer.$dirty ? 'bg-warning' : ''" demo-tracked-table-cell style="width:150px !important">
                                                            <a href="javascript:;" style="text-decoration:none;color:black"> {{row.CreateDate | date:'dd/MM/yyyy HH:mm'}} </a>
                                                        </td>

                                                        <td title="'MainCompanyCode '" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                                            <span ng-switch-default class="editable-text">{{row.MainCompanyCode}}</span>
                                                        </td>

                                                        <td title="'ReportName'" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                                            <span ng-switch-default class="editable-text">{{row.Name}}</span>
                                                        </td>

                                                        <td title="'Description'" ng-switch="row.isEditing" ng-class="Customer.$dirty ? 'bg-warning' : ''" demo-tracked-table-cell>
                                                            <span ng-switch-default class="editable-text">{{row.Description}}</span>
                                                        </td>

                                                        <td title="'IsActive'" ng-switch="row.isEditing" ng-class="Customer.$dirty ? 'bg-warning' : ''" demo-tracked-table-cell>


                                                            <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                                                                <label>
                                                                    <input type="checkbox" ng-checked="row.IsActive" name="" ng-click="updateReportActive(row)">
                                                                    <span></span>
                                                                </label>
                                                            </span>
                                                        </td>





                                                        <td nowrap="" title="'Actions'">
                                                            <span class="dropdown">
                                                                <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
                                                                    <i class="la la-ellipsis-h"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a class="dropdown-item" href="javascript:;" ng-click="setActionType('Update',row)"><i class="la la-edit"></i> Edit Details</a>
                                                                    <a class="dropdown-item" href="javascript:;" ng-click="deleteReport(row)"><i class="la la-leaf"></i> Delete</a>
                                                                </div>
                                                            </span>
                                                        </td>



                                                    </tr>
                                                </table>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12" ng-show="actionType ==='Create' || actionType ==='Update'">
                <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <!--begin::Portlet-->
                            <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
                                <div class="kt-portlet__head kt-portlet__head--lg" style="">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">Report <small>{{actionType}}</small></h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <a href="javascript:;" ng-click="actionType='List'" class="btn btn-clean kt-margin-r-10">
                                            <i class="la la-arrow-left"></i>
                                            <span class="kt-hidden-mobile">Back</span>
                                        </a>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-brand" ng-click="insertOrUpdateReport()">
                                                <i class="la la-check"></i>
                                                <span class="kt-hidden-mobile">Save</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-portlet__body">
                                    <form class="kt-form" id="kt_form">
                                        <div class="row">
                                            <div class="col-xl-2"></div>
                                            <div class="col-xl-8">
                                                <div class="kt-section">
                                                    <div class="kt-section__body">
                                                        <div class="form-group row">
                                                            <label class="col-3 col-form-label">Main Company</label>
                                                            <div class="col-9">
                                                                <select class="form-control" ng-model="report.MainCompanyCode">
                                                                    <option ng-repeat="row in globalMainCompanyList" ng-selected="row.Code === report.MainCompanyCode" ng-value="$index === 0 ? '' : row.Code">{{$index === 0 ? 'Please Select' : row.Name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-3 col-form-label">Report Name</label>
                                                            <div class="col-9">
                                                                <input class="form-control" type="text" placeholder="Report Name" ng-model="report.Name">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-3 col-form-label">Report Description</label>
                                                            <div class="col-9">
                                                                <textarea class="form-control" type="text" placeholder="Report Description" ng-model="report.Description"></textarea>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-3 col-form-label">POWER BI URL</label>
                                                            <div class="col-9">
                                                                <textarea class="form-control" type="text" placeholder="POWER BI URL" ng-model="report.URL"></textarea>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                               
                                            </div>
                                            <div class="col-xl-2"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--end::Portlet-->
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!--MODAL-->
        <div class="modal fade" id="modal-ReportLine-detail" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-full">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="caption-subject font-green-haze bold uppercase">SİPARİŞ DETAYI</span>
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal" style="float:right !important">Kapat</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                        </div>

                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>



    </div>
</div>



<script src="~/Assets/Scripts/Website/Content_Report.js"></script>
