﻿<style>

    th span {
        font-weight: bold;
        color: #2ab4c0 !important;
    }


    th span, inputHeaders {
        font-weight: bold;
        color: #777777 !important;
    }

    #companyTable thead tr th {
        color: #777777 !important;
        font-weight: bold;
    }

     .customSpace {
        margin-bottom: 10px;
    }
</style>


<div ng-controller="OrderTransferGetirController" class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Operations
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    OrderTransfer ( Goods IN )
                </a>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="alert alert-light alert-elevate" role="alert">
                <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
                <div class="alert-text">
                    <ul>
                        <li>Sipariş kodunu girip sipariş arama butonuna tıklayınız</li>
                        <li>Sipariş koduna ait bir sipariş sistemde varsa ekranda gözükecektir</li>
                        <li>Sipariş bilgileri gözüktü ise, yeni siparişe aktarılacak ürünleri seçiniz</li>
                        <li>Yeni sipariş kodunu yazıp, ürünleri aktar butonuna basınız</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Current Order ( Goods IN)
                        </h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form kt-form--label-right">

                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row customSpace">
                                <label for="example-text-input" class="col-2 col-form-label"><strong>Order</strong></label>
                                <div class="col-5">
                                    <input class="form-control" type="text" placeholder="OrderCode or OrderId" ng-model="filters.pOrder">
                                </div>
                                <div class="col-md-5">
                                    <button class="btn btn-success" ng-disabled="!isValid(filters.pOrder)" ng-click="getIntOrder()"> Search</button>
                                    <button class="btn btn-danger" ng-click="resetAll()"> Reset</button>
                                </div>
                            </div>


                            <div class="form-group row form-group-marginless kt-margin-t-20">

                                <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(currentOrder.OrderTypeDesc)">OrderType</label>
                                <div class="col-lg-4" ng-show="isValid(currentOrder.OrderTypeDesc)">
                                    <input class="form-control" value="{{currentOrder.OrderTypeDesc}}" disabled="">
                                </div>

                                <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(currentOrder.OrderSubTypeDesc)">SubType</label>
                                <div class="col-lg-4" ng-show="isValid(currentOrder.OrderSubTypeDesc)">
                                    <input class="form-control" value="{{currentOrder.OrderSubTypeDesc}}" disabled="">
                                </div>


                                <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(currentOrder.OrderDate)">OrderDate</label>
                                <div class="col-lg-4" ng-show="isValid(currentOrder.OrderDate)">
                                    <input class="form-control" value="{{currentOrder.OrderDate}}" disabled="">
                                </div>

                                <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(currentOrder.OrderCode)">OrderCode</label>
                                <div class="col-lg-4" ng-show="isValid(currentOrder.OrderCode)">
                                    <div class="input-group">
                                        <input class="form-control" value="{{currentOrder.OrderCode}}" disabled="">
                                    </div>
                                </div>



                                <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(currentOrder.WarehouseCode)">WareHouse</label>
                                <div class="col-lg-4" ng-show="isValid(currentOrder.WarehouseCode)">
                                    <div class="input-group">
                                        <input class="form-control" value="{{currentOrder.WarehouseCode}}" disabled="">
                                    </div>
                                </div>



                                <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(currentOrder.TransactionCode)">Trans.Code</label>
                                <div class="col-lg-4" ng-show="isValid(currentOrder.TransactionCode)">
                                    <div class="input-group">
                                        <input class="form-control" value="{{currentOrder.TransactionCode}}" disabled="">
                                    </div>
                                </div>


                                <label class="col-lg-2 col-form-label customSpace" ng-show="isValid(currentOrder.OrderId)">OrderId</label>
                                <div class="col-lg-10" ng-show="isValid(currentOrder.OrderId)">
                                    <div class="input-group">
                                        <input class="form-control" value="{{currentOrder.OrderId}}" disabled="">
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8" ng-show="isValid(currentOrder.OrderType)">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Item List  ( {{currentOrder.OrderCode}} )
                        </h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form kt-form--label-right">

                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="alert alert-danger" ng-show="currentOrder.Lines.length  === 0">
                                <span class="bold" style="font-size:13px;">
                                    Items not found
                                </span>
                            </div>
                            <div class="row"  ng-show="currentOrder.Lines.length  > 0">
                                <div class="col-sm-12">
                                    <div class="dataTables_scroll">
                                        <div class="dataTables_scrollBody" style="position: relative; overflow: auto; max-height: 50vh;">
                                            <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer" id="kt_table_1" role="grid" aria-describedby="kt_table_1_info">

                                                <thead>
                                                    <tr>
                                                        <th tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width:50px;" aria-sort="ascending" >
                                                            <label class="kt-checkbox">
                                                                <input type="checkbox" ng-model="isAllItemsSelected" ng-click="setAllProductsSelectedOrNot()">
                                                                <span></span>
                                                            </label>
                                                        </th>
                                                        <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width:20px !important;">Line</th>
                                                        <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width:40px !important;">Item</th>
                                                        <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width:50px;">Quantity</th>
                                                    </tr>
                                                </thead>

                                                <tbody>

                                                    <tr role="row" class="odd" ng-repeat="row in currentOrder.Lines">
                                                        <td>
                                                            <label class="kt-checkbox">
                                                                <input type="checkbox" ng-model="row.Item.IsSelected" ng-checked="row.Item.IsSelected" ng-click="setSelectedProduct(row.Item.IsSelected)">
                                                                <span></span>   
                                                            </label>

                                                        </td>
                                                        <td class="sorting_1">
                                                            {{$index+1}}
                                                        </td>
                                                        <td style=" width:40px !important;">{{row.Item.ItemCode}}<br />{{row.Item.ItemDescription}}</td>
                                                        <td>{{row.Quantity}}</td>
                                                     </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                                    </div>
                                    <div class="kt-portlet__foot">
                                        <div class="kt-form__actions">
                                            <div class="row customSpace">
                                                <label for="example-text-input" class="col-md-4 col-form-label"><strong>New OrderCode</strong></label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" placeholder="New OrderCode" ng-model="postData.NewOrderCode">
                                                </div>
                                            </div>
                                            <div class="row customSpace">
                                                <label for="example-text-input" class="col-md-4 col-form-label"><strong>New OrderId</strong></label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" placeholder="New OrderId" ng-model="postData.NewOrderId">
                                                </div>
                                            </div>
                                            <div class="row customSpace">
                                                <div class=" offset-8 col-md-4">
                <button class="btn btn-success" ng-disabled="!isValid(postData.NewOrderCode) || !isValid(postData.NewOrderId)" ng-click="transferItemList()"> Transfer Items</button>
            </div>
                                            </div>

                                        </div>
                                    </div>
</form>
            </div>
        </div>


        <div class="col-md-6" hidden>
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            New Order
                        </h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form">
                    <div class="kt-portlet__body">
                        <div class="form-group form-group-last">
                            <div class="alert alert-secondary" role="alert">
                                <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
                                <div class="alert-text">
                                    Add the disabled or readonly boolean attribute on an input to prevent user interactions.
                                    Disabled inputs appear lighter and add a <code>not-allowed</code> cursor.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Disabled Input</label>
                            <input type="email" class="form-control" disabled="disabled" placeholder="Disabled input">
                        </div>
                        <div class="form-group">
                            <label>Disabled select</label>
                            <select class="form-control" disabled="disabled">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>

                    </div>
                    <div class="kt-portlet__foot" hidden>
                        <div class="kt-form__actions">
                            <button type="reset" class="btn btn-brand">Submit</button>
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>

    <div class="row" hidden>
        <div class="col-lg-12">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">

                    <div class="row" hidden>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" class="form-control" placeholder="Sipariş No">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <!-- BEGIN VALIDATION STATES-->
                                    <button class="btn green col-md-12" style="vertical-align:middle;" ng-click="transferOrder()">
                                        Siparişi Bul
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <!-- END VALIDATION STATES-->
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <label class="mt-checkbox mt-checkbox-outline">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </th>
                                                    <th> Ürün Kodu </th>
                                                    <th> Ürün Adet </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label class="mt-checkbox mt-checkbox-outline">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td> Mark </td>
                                                    <td> makr124 </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="mt-checkbox mt-checkbox-outline">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td> Jacob </td>
                                                    <td> jac123 </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="mt-checkbox mt-checkbox-outline">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td> Larry </td>
                                                    <td> lar </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="mt-checkbox mt-checkbox-outline">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td> Sandy </td>
                                                    <td> sanlim </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12">
                                <input class="form-control" />
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" />

                            </div>
                            <div class="col-md-12">
                                <button class="btn green col-md-12" style="vertical-align:middle;" ng-click="transferOrder()">
                                    Seçilenleri Aktar
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <label class="mt-checkbox mt-checkbox-outline">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </th>
                                                    <th> Ürün Kodu </th>
                                                    <th> Ürün Adet </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label class="mt-checkbox mt-checkbox-outline">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td> Mark </td>
                                                    <td> makr124 </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="mt-checkbox mt-checkbox-outline">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td> Jacob </td>
                                                    <td> jac123 </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="mt-checkbox mt-checkbox-outline">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td> Larry </td>
                                                    <td> lar </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="mt-checkbox mt-checkbox-outline">
                                                            <input type="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td> Sandy </td>
                                                    <td> sanlim </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<script src="~/Assets/Scripts/Website/OrderTransferGetir.js"></script>






