﻿
@{
                /**/

                ViewBag.Title = "UploadDocument";
                Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("UploadDocument", "Operation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   

    <div>
        <input type="file" id="excelFile" name="excelFile" required data-val="true"
               data-val-required="please select a file" />

        <input type="submit" id="Submit" class="submit" value="Upload" title="Click to upload file" />

    </div>
}
