﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content" ng-controller="ReportController" >

        <!-- begin:: Subheader -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-container  kt-container--fluid ">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">

                        Reports
                    </h3>

                </div>
            </div>
        </div>
        <!-- end:: Subheader -->
        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="kt-portlet">
                        <!--begin::Form-->
                        <form class="kt-form kt-form--label-right">
                            <div class="kt-portlet__body">
                                <div class="row">
                                    <div class="col-md-5" ng-show="!isValid(sessionMainCompany.Code)">

                                        <div class="form-group">
                                            <label class="bold font-green-sharp">Main Company</label>
                                            <select class="form-control" ng-init="sMainCompanyCode=sessionMainCompany.Code" ng-model="sMainCompanyCode" ng-change="filterReportList()" ng-disabled="sessionMainCompany.Code!==''">
                                                <option ng-value="$index===0 ? '' : row.Code" ng-repeat="row in globalMainCompanyList" ng-selected="row.Code === sessionMainCompany.Code" >{{$index === 0 ? 'Please Select': row.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label class="bold font-green-sharp">Report Name</label>
                                            <select class="form-control" ng-model="sReportId" ng-disabled="sMainCompanyCode===''" ng-change="resetReport()">
                                                <option ng-value="row.Id" ng-repeat="row in reportList">{{row.Name}}</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-1">
                                        <div class="form-group">
                                            @*<button type="submit" class="btn green" style="margin: 25px 0px 0px 0px;" ng-click="getListLog()">
                        <i class="fa fa-search"></i> Ara
                    </button>*@
                                            <button  class="btn btn-success" style="margin: 25px 0px 0px 0px;cursor:pointer;" ng-disabled="sMainCompanyCode ==='' || sReportId === 0" ng-click="showReport()">Show</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">


                                        <div class="alert alert-success" ng-show="!isValid(sReportURL)" >
                                            <span class="bold" style="font-size:13px;">
                                                {{warningMessage}}
                                            </span>
                                        </div>

                                        <hr  />

                                        <div id="iframeDiv" style="position:relative;padding-top:56.25%;" ng-show="isValid(sReportURL)"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Content -->
    </div>

    <script src="~/Assets/Scripts/Website/Report.js"></script>