﻿#common-home{
    background-color: #eeeeee;
}


.page-bar {
    padding: 0;
    background-color: #eef1f5 !important;
    margin-bottom: 0px;
    margin-top: -23px;
}



.page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a {
    background: none!important;
    color: #e4e9f2;
}

.page-header.navbar .page-logo {
    background: #ffffff !important;
    /* border-right: 4px blue; */
    /*border-right: 3px solid #081c40 !important;*/
}

.toRight{
    float:right !important
}
