﻿
@using ESube.Service.Models
@*@using B2b.Web.v4.Models.Helper*@

<!DOCTYPE html>

<html lang="en">

<!-- begin::Head -->
<head>
    @{
        User SessionUser = HttpContext.Current.Session["User"] != null ? (User)HttpContext.Current.Session["User"] : new User();
        string SessionUserRoleListStr = HttpContext.Current.Session["UserRoleListStr"] != null ? (string)HttpContext.Current.Session["UserRoleListStr"] : "";

        MainCompany SessionMainCompany = HttpContext.Current.Session["MainCompany"] != null ? (MainCompany)HttpContext.Current.Session["MainCompany"] : new MainCompany();
        bool IsMainCompanySelected = HttpContext.Current.Session["IsMainCompanySelected"] != null ? (bool)HttpContext.Current.Session["IsMainCompanySelected"]  : false;

    }

    <!--begin::Base Path (base relative path for assets of this page) -->
    <base href="../../../">

    <!--end::Base Path -->
    <meta charset="utf-8" />
    <title>Dinçer Lojistik</title>
    <meta name="description" content="Page with empty content">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    <link href="/Assets/TemplateFiles/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Page Vendors Styles -->
    <!--begin:: Global Mandatory Vendors -->
    <link href="/Assets/TemplateFiles/vendors/general/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />

    <!--end:: Global Mandatory Vendors -->
    <!--begin:: Global Optional Vendors -->
    <link href="/Assets/TemplateFiles/vendors/general/tether/dist/css/tether.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/bootstrap-timepicker/css/bootstrap-timepicker.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/select2/dist/css/select2.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/ion-rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/nouislider/distribute/nouislider.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/owl.carousel/dist/assets/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/owl.carousel/dist/assets/owl.theme.default.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/summernote/dist/summernote.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/animate.css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/toastr/build/toastr.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/morris.js/morris.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/sweetalert2/dist/sweetalert2.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/general/socicon/css/socicon.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/custom/vendors/line-awesome/css/line-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/custom/vendors/flaticon/flaticon.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/vendors/custom/vendors/flaticon2/flaticon.css" rel="stylesheet" type="text/css" />
    @*<link href="/Assets/TemplateFiles/vendors/general/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />*@

    <!--end:: Global Optional Vendors -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="/Assets/TemplateFiles/css/demo1/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="/Assets/TemplateFiles/css/demo1/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/css/demo1/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/css/demo1/skins/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/css/demo1/skins/aside/dark.css" rel="stylesheet" type="text/css" />

    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="/Assets/TemplateFiles/media/logos/favicon.ico" />





    <!--TOAST-->
    <link href="/Assets/Extensions/Toasttr/toastr.css" rel="stylesheet" />

    <!--CUSTOM LOADING PLUGIN-->
    <link href="~/Assets/Extensions/CustomLoading/jquery.loadingModal.css" rel="stylesheet" />
    <link href="~/Assets/Extensions/CustomLoading/jquery.loadingModal.min.css" rel="stylesheet" />


    <!--ANGULAR-->
    <script src="~/Assets/Scripts/Angular/Files/angular.js"></script>
    <script src="~/Assets/Scripts/Angular/Files/angular-sanitize.js"></script>
    <script src="~/Assets/Scripts/Angular/Files/ng-table.min.js"></script>
    <script src="/Assets/Scripts/Angular/Modules/WebsiteModule.js"></script>

</head>

<!-- end::Head -->
<!-- begin::Body -->
<body ng-app="webSiteModule" class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed">

    <!--Angular Global Variables-->
    <div hidden>
        <input type="text" ng-init="sessionUser.Username = '@SessionUser.Username'" />
        <input type="text" ng-init="sessionMainCompany.Code = '@SessionMainCompany.Code'" />
        <input type="text" ng-init="sessionMainCompany.Name = '@SessionMainCompany.Name'" />
        <input type="text" ng-init="sessionUser.RoleListStr = '@SessionUserRoleListStr'" />
        <input type="text" ng-init="IsMainCompanySelected = '@IsMainCompanySelected.ToString()'" />
    </div>


    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            @*<a href="demo1/index.html">
                    <img alt="Logo" src="/Assets/TemplateFiles/media/logos/logo-light.png" />
                </a>*@
            <a style="font-size: 15px;font-weight: bold;margin-top: 10px;">DİNÇER LOJİSTİK</a>

        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toggler kt-header-mobile__toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toggler" id="kt_header_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
        </div>
    </div>

    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

            <!-- begin:: Aside -->
            <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
            <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

                <!-- begin:: Aside -->
                <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
                    <div class="kt-aside__brand-logo">
                        @*<a href="demo1/index.html">
                                <img alt="Logo" src="/Assets/TemplateFiles/media/logos/logo-light.png" />
                            </a>*@
                        <label style="font-size: 15px;font-weight: bold;margin-top: 10px;">DİNÇER LOJİSTİK</label>
                    </div>
                    <div class="kt-aside__brand-tools">
                        <button class="kt-aside__brand-aside-toggler" id="kt_aside_toggler">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                        <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" id="Path-94" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999) " />
                                        <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" id="Path-94" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999) " />
                                    </g>
                                </svg>
                            </span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                        <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" id="Path-94" fill="#000000" fill-rule="nonzero" />
                                        <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" id="Path-94" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                    </g>
                                </svg>
                            </span>
                        </button>

                        <!--
                        <button class="kt-aside__brand-aside-toggler kt-aside__brand-aside-toggler--left" id="kt_aside_toggler"><span></span></button>
                        -->
                    </div>
                </div>

                <!-- end:: Aside -->
                <!-- begin:: Aside Menu -->
                <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                    <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
                        <ul class="kt-menu__nav ">
                            <li class="kt-menu__section ">
                                <h4 class="kt-menu__section-text">Menus</h4>
                                <i class="kt-menu__section-icon flaticon-more-v2"></i>
                            </li>
                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover"  ng-show="sessionUser.RoleListStr.includes('ADM') || sessionUser.RoleListStr.includes('DEV')">
                                <a href="/Help" class="kt-menu__link"><i class="kt-menu__link-icon flaticon-layers"></i><span class="kt-menu__link-text">Api Documentation</span></a>
                            </li>
                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="/ApplyForm" class="kt-menu__link"><i class="kt-menu__link-icon flaticon-layers"></i><span class="kt-menu__link-text">Apply Forms</span></a>
                            </li>





                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-calendar"></i><span class="kt-menu__link-text">Operations</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li ng-show="sessionUser.RoleListStr.includes('ADM') || (sessionMainCompany.Code === 'GT')" class="kt-menu__item " aria-haspopup="true"><a href="/Operation/TransferOrder" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Order Transfer</span></a></li>
                                    </ul>

                                    @*<ul class="kt-menu__subnav">
                                        <li ng-show="sessionUser.RoleListStr.includes('ADM')" class="kt-menu__item " aria-haspopup="true">
                                            <a href="/Operation/UploadDocument" class="kt-menu__link ">
                                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                                    <span></span>
                                                </i><span class="kt-menu__link-text">Upload Document</span>
                                            </a>
                                        </li>
                                    </ul>*@
                                </div>
                            </li>



                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="{{sessionMainCompany.Code === 'SMP' ? '/Tender' : '/Order' }}" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-background"></i><span class="kt-menu__link-text">Orders</span></a>
                            </li>

                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="/Report" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-background"></i><span class="kt-menu__link-text">Reports</span></a>
                            </li>

                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="/Stock" class="kt-menu__link"><i class="kt-menu__link-icon flaticon-layers"></i><span class="kt-menu__link-text">Stock</span></a>
                            </li>







                            <li ng-show="sessionUser.RoleListStr.includes('ADM') && !isValid(sessionMainCompany.Code)" && !isValid(sessionMainCompany.Code)" class="kt-menu__section ">
                                <h4 class="kt-menu__section-text">ADMIN</h4>
                                <i class="kt-menu__section-icon flaticon-more-v2"></i>
                            </li>



                            <li ng-show="sessionUser.RoleListStr.includes('ADM') && !isValid(sessionMainCompany.Code)" class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-rocket"></i><span class="kt-menu__link-text">Content Manage</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span class="kt-menu__link"><span class="kt-menu__link-text">Job</span></span></li>
                                        <li class="kt-menu__item " aria-haspopup="true"><a href="/Content/Report" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Reports</span></a></li>
                                    </ul>
                                </div>
                            </li>


                            <li ng-show="sessionUser.RoleListStr.includes('ADM') && !isValid(sessionMainCompany.Code)" class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="DataTransfer" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-interface-1"></i><span class="kt-menu__link-text">Data Transfer</span></a>
                            </li>

                            <li ng-show="sessionUser.RoleListStr.includes('ADM')" class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="/Log" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-open-box"></i><span class="kt-menu__link-text">Logs</span></a>
                            </li>

                            <li ng-show="sessionUser.RoleListStr.includes('ADM') && !isValid(sessionMainCompany.Code)" class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-light"></i><span class="kt-menu__link-text">Main Companies</span></a>
                            </li>



                            <li ng-show="sessionUser.RoleListStr.includes('ADM') && !isValid(sessionMainCompany.Code)" class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-rocket"></i><span class="kt-menu__link-text">Settings</span></a>
                            </li>

                            <li ng-show="sessionUser.RoleListStr.includes('ADM') && !isValid(sessionMainCompany.Code)" class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-interface-1"></i><span class="kt-menu__link-text">Users</span></a>
                            </li>

                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="/Account/Logout" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon-background"></i><span class="kt-menu__link-text">Sig Out</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- end:: Aside Menu -->
            </div>

            <!-- end:: Aside -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

                    <!-- begin:: Header Menu -->
                    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">

                        </div>
                    </div>

                    <!-- end:: Header Menu -->
                    <!-- begin:: Header Topbar -->
                    <div class="kt-header__topbar">

                        <!--begin: Search -->
                        <!--begin: Search -->
             

                        <!--end: Search -->
                        <!--end: Search -->
                        <!--begin: Notifications -->
                        <div class="kt-header__topbar-item dropdown" ng-if="sessionUser.RoleListStr.includes('ADM')">
                           

                            <span class="kt-header__topbar-icon kt-pulse kt-pulse--brand" style="width:215px">
                                <label class="btn btn-label-brand btn-bold" style="color: #ececf2 !important;background-color: #1e1e2d !important;margin-top:7px;">
                                    <i class="flaticon-home-2"></i>

                                    {{isValid(sessionMainCompany.Code) ? sessionMainCompany.Name  :'All Companies'}}

                                </label>

                                <button class="btn btn-label-brand btn-bold" style="color:white !important;background-color:#0abb87 !important;margin-left:2px;" ng-click="showMainCompanySelectModal()">
                                    <i class="flaticon-refresh" style="font-weight:bolder;color:white !important;margin-left:5PX;"></i>

                                </button>


                                @*<span style="width: 110px;cursor:pointer!important;" class="btn btn-bold btn-sm btn-font-sm  btn-label-danger">

            HEMEL
            <i class="flaticon-bell-1"></i>

        </span>*@

                            </span>

                    
                        </div>

                        <!--end: Notifications -->
                        <!--begin: Language bar -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--langs">
                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                                <span class="kt-header__topbar-icon">
                                    <img class="" src="/Assets/TemplateFiles/media/flags/020-flag.svg" alt="" />
                                </span>
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround">
                                <ul class="kt-nav kt-margin-t-10 kt-margin-b-10">
                                    <li class="kt-nav__item kt-nav__item--active">
                                        <a href="#" class="kt-nav__link">
                                            <span class="kt-nav__link-icon"><img src="/Assets/TemplateFiles/media/flags/020-flag.svg" alt="" /></span>
                                            <span class="kt-nav__link-text">English</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <span class="kt-nav__link-icon"><img src="~/Assets/TemplateFiles/media/flags/006-turkey.svg" alt="" /></span>
                                            <span class="kt-nav__link-text">Türkçe</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--end: Language bar -->
                        <!--begin: User Bar -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--user">
                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
                                <div class="kt-header__topbar-user">
                                    <span class="kt-header__topbar-welcome kt-hidden-mobile">Hi,</span>
                                    <span class="kt-header__topbar-username kt-hidden-mobile">{{sessionUser.Username}}</span>
                                    <img class="kt-hidden" alt="Pic" src="/Assets/TemplateFiles/media/users/300_25.jpg" />

                                    <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                    <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">S</span>
                                </div>
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">

                                <!--begin: Head -->
                                <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(/Assets/TemplateFiles/media/misc/bg-1.jpg)">
                                    <div class="kt-user-card__avatar">
                                        <img class="kt-hidden" alt="Pic" src="/Assets/TemplateFiles/media/users/300_25.jpg" />

                                        <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                        <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">
                                            {{sessionUser.Username.substr(0,1) | uppercase}}
                                        </span>
                                    </div>
                                    <div class="kt-user-card__name">
                                        {{sessionUser.Username}}
                                    </div>
                                    <div class="kt-user-card__badge">
                                        <span class="btn btn-success btn-sm btn-bold btn-font-md">Menus</span>
                                    </div>
                                </div>

                                <!--end: Head -->
                                <!--begin: Navigation -->
                                <div class="kt-notification">
                                    <a href="#" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon2-calendar-3 kt-font-success"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title kt-font-bold">
                                                My Profile
                                            </div>
                                            <div class="kt-notification__item-time">
                                                Account settings and more
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="kt-notification__item">
                                        <div class="kt-notification__item-icon">
                                            <i class="flaticon2-mail kt-font-warning"></i>
                                        </div>
                                        <div class="kt-notification__item-details">
                                            <div class="kt-notification__item-title kt-font-bold">
                                                My Messages
                                            </div>
                                            <div class="kt-notification__item-time">
                                                Inbox and tasks
                                            </div>
                                        </div>
                                    </a>


                                    <div class="kt-notification__custom kt-space-between">
                                        <a href="/Account/Logout" class="btn btn-label btn-label-brand btn-sm btn-bold" style="float:right">Sign Out</a>
                                    </div>
                                </div>

                                <!--end: Navigation -->
                            </div>
                        </div>

                        <!--end: User Bar -->
                    </div>

                    <!-- end:: Header Topbar -->
                </div>

                <!-- end:: Header -->
                @RenderBody()


                <!-- begin:: Footer -->
                <div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
                    <div class="kt-footer__copyright">
                        2019&nbsp;&copy;&nbsp;<a href="http://keenthemes.com/metronic" target="_blank" class="kt-link">Dinçer Lojistik</a>
                    </div>
                </div>

                <!-- end:: Footer -->
            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>


    <!--MAIN COMPANY SELECT MODAL STARTS -->
    <div class="modal fade" id="modal_main_company_select" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-toggle="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body" style="padding:0px !important">


                    <div class="kt-head kt-head--skin-dark kt-head--fit-x kt-head--fit-b" style="background-image: url(/Assets/TemplateFiles/media/misc/bg-1.jpg)">
                        <h3 class="kt-head__title">
                            Main Company
                            &nbsp;
                            <span class="btn btn-success btn-sm btn-bold btn-font-md">{{isValid(sessionMainCompany.Name) ? sessionMainCompany.Name : 'All'}}</span>
                        </h3>
                        <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-success kt-notification-item-padding-x" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="tab" href="#topbar_notifications_notifications" role="tab" aria-selected="true"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane active show" id="topbar_notifications_notifications" role="tabpanel" >
                            <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true" data-height="350" data-mobile-height="200" style="cursor:pointer;">



                                <a href="javascript:;" class="kt-notification__item" ng-repeat="row in globalMainCompanyList" ng-click="changeSessionGlobalMainCompany(row)" style="padding: 0.1rem 0.5rem !important;cursor:pointer;">
                                    <div class="kt-notification__item-details" style="cursor:pointer;">
                                        <div class="kt-notification__item-title" style="cursor:pointer;">
                                            <div class="kt-radio-list" style="cursor:pointer;">
                                                <label class="kt-radio" style="cursor:pointer;">
                                                    <input type="radio" name="radioA" ng-checked="row.Code === sessionMainCompany.Code">
                                                    <label style="font-weight: bolder;">{{$index === 0 ? 'ALL' : row.Code}}</label>
                                                    <label ng-show="$index > 0">-</label>
                                                    <label>{{row.Name}}</label>
                                                    <span></span>
                                                </label>
                                            </div>
                                            
                                        </div>

                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-success btn-elevate btn-elevate-air" ng-click="changeSessionGlobalMainCompany()">Select</button>*@
                    <button type="button" class="btn btn-secondary btn-elevate btn-elevate-air" ng-if="IsMainCompanySelected === 'True'" data-dismiss="modal" >Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--MAIN COMPANY SELECT MODAL ENDS -->


    <!-- end::Scrolltop -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                    "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                }
            }
        };
    </script>

    <!-- end::Global Config -->
    <!--begin:: Global Mandatory Vendors -->
    <script src="/Assets/TemplateFiles/vendors/general/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/popper.js/dist/umd/popper.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/js-cookie/src/js.cookie.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/moment/min/moment.min.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/perfect-scrollbar/dist/perfect-scrollbar.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/sticky-js/dist/sticky.min.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/wnumb/wNumb.js" type="text/javascript"></script>

    <!--end:: Global Mandatory Vendors -->
    <!--begin:: Global Optional Vendors -->
    <script src="/Assets/TemplateFiles/vendors/general/jquery-form/dist/jquery.form.min.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/block-ui/jquery.blockUI.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/custom/js/vendors/bootstrap-datepicker.init.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/custom/js/vendors/bootstrap-timepicker.init.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/bootstrap-maxlength/src/bootstrap-maxlength.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/custom/vendors/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/bootstrap-select/dist/js/bootstrap-select.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/bootstrap-switch/dist/js/bootstrap-switch.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/custom/js/vendors/bootstrap-switch.init.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/select2/dist/js/select2.full.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/ion-rangeslider/js/ion.rangeSlider.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/typeahead.js/dist/typeahead.bundle.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/handlebars/dist/handlebars.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/inputmask/dist/jquery.inputmask.bundle.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/inputmask/dist/inputmask/inputmask.date.extensions.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/inputmask/dist/inputmask/inputmask.numeric.extensions.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/nouislider/distribute/nouislider.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/owl.carousel/dist/owl.carousel.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/autosize/dist/autosize.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/clipboard/dist/clipboard.min.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/dropzone/dist/dropzone.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/summernote/dist/summernote.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/custom/js/vendors/bootstrap-markdown.init.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/bootstrap-notify/bootstrap-notify.min.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/custom/js/vendors/bootstrap-notify.init.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/jquery-validation/dist/additional-methods.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/custom/js/vendors/jquery-validation.init.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/toastr/build/toastr.min.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/raphael/raphael.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/morris.js/morris.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/chart.js/dist/Chart.bundle.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/custom/vendors/bootstrap-session-timeout/dist/bootstrap-session-timeout.min.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/custom/vendors/jquery-idletimer/idle-timer.min.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/waypoints/lib/jquery.waypoints.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/counterup/jquery.counterup.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/es6-promise-polyfill/promise.min.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/sweetalert2/dist/sweetalert2.min.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/custom/js/vendors/sweetalert2.init.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/jquery.repeater/src/lib.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/jquery.repeater/src/jquery.input.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/jquery.repeater/src/repeater.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/general/dompurify/dist/purify.js" type="text/javascript"></script>

    <!--end:: Global Optional Vendors -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="/Assets/TemplateFiles/js/demo1/scripts.bundle.js" type="text/javascript"></script>

    <!--end::Global Theme Bundle -->
    <!--begin::Page Vendors(used by this page) -->
    @*<script src="/Assets/TemplateFiles/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyBTGnKT7dt597vo9QgeQ7BFhvSRP4eiMSM" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/vendors/custom/gmaps/gmaps.js" type="text/javascript"></script>*@

    <!--end::Page Vendors -->
    <!--begin::Page Scripts(used by this page) -->
    <script src="/Assets/TemplateFiles/js/demo1/pages/dashboard.js" type="text/javascript"></script>

    <!--end::Page Scripts -->
    <!--TOAST-->
    <script src="/Assets/Extensions/Toasttr/custom.js"></script>
    <script src="/Assets/Extensions/Toasttr/toastr.js"></script>

    <!--CUSTOM LOADER-->
    <script src="~/Assets/Extensions/CustomLoading/jquery.loadingModal.js"></script>
    <script src="~/Assets/Extensions/CustomLoading/jquery.loadingModal.min.js"></script>

    <!--GLOBAL JS-->
    <script src="~/Assets/Scripts/Global.js"></script>


    <!--GLOBAL JS-->
    <script src="~/Assets/Scripts/Global.js"></script>




</body>

<!-- end::Body -->
</html>