﻿@model ESube.Service.Models.ClientKey


<div class="page-content" ng-controller="ApplicationKeysController">
    @*<div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="javascript:;">Api KEY</a>
            </li>
        </ul>
    </div>*@
    <div class="row">
        <div class="col-md-5">
            <div class="portlet light">
                <div class="portlet-title">
                    <span class="caption-subject font-green-sharp bold">API KEY</span>
                </div>
                <div class="portlet-body form">
                    <form action="#" class="form-horizontal">
                        <div class="form-body">

                            @*@using (Html.BeginForm("GenerateKeysERS","ApplicationKeys",FormMethod.Post))*@
                            @*  {*@
                            @*@Html.AntiForgeryToken()*@
                            @*@Html.HiddenFor(Model => Model.ClientKeyID)*@
                            <div class="form-horizontal">


                                <div class="form-group">
                                    <label class="col-md-4 control-label">CLIENT ID</label>
                                    <div class="col-md-8">
                                        <input class="form-control" ng-model="clientKey.ClientID" />
                                        @*@Html.EditorFor(model => model.ClientID, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>

                                <div class="form-group last">
                                    <label class="col-md-4 control-label">CLIENT SERVER</label>
                                    <div class="col-md-8">
                                        <input class="form-control" ng-model="clientKey.ClientSecret" />
                                        @*@Html.EditorFor(model => model.ClientSecret, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-8">
                                        <button type="button" class="btn green col-md-12" ng-click="regenerateClientKeys()">Yeni Oluştur</button>
                                    </div>
                                </div>

                            </div>
                            @* } *@

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="portlet light">
                <div class="portlet-title">
                    <span class="caption-subject font-green-sharp bold">TOKEN</span>
                </div>
                <div class="portlet-body form">
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <div class="form-horizontal">

                                <div class="form-group">
                                    <label class="col-md-4 control-label">TOKEN</label>
                                    <div class="col-md-8">
                                        <input class="form-control" disabled rows="4" ng-model="token">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">SON KUL. TAR.</label>
                                    <div class="col-md-4">
                                        <input class="form-control" rows="4" disabled value="01.01.2022">
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" rows="4" disabled value="955 Gün Kaldı">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-8">
                                        <button type="submit" class="btn green col-md-12" ng-click="regenerateToken()">Yeni Oluştur</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </form>
                </div>
            </div>



        </div>
    </div>
</div>



<script src="/Assets/Scripts/Website/ApplicationKeys.js"></script>
