﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .mt-radio-outline {
        margin-bottom: 10px !important;
    }

    .mt-radio-list {
        padding: 0px !important;
    }


    #orderDetailTable {
        -webkit-box-shadow: 0px 0px 1px 0px rgba(196,196,196,1);
        -moz-box-shadow: 0px 0px 1px 0px rgba(196,196,196,1);
        box-shadow: 0px 0px 1px 0px rgba(196,196,196,1);
    }

    .control-label {
        text-align:left !important;
    }

    th span,inputHeaders{
        font-weight:bold;
        color: #777777!important;
    }
  
    .bg-font-grey-cararra{
             color: #777777!important;
    }

</style>

<div class="page-content" ng-controller="OrderGetirController">


    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="">Sipariş Takibi</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Getir</span>
            </li>
        </ul>
    </div>

    <div class="row">
  
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="row">
                        <div class="col-md-2">

                            <div class="form-group">
                                <label class="bold bg-font-grey-cararra">Sipariş Türü</label>
                                <select class="form-control" ng-model="filters.OrderType" ng-change="resetSearchResult()">
                                    <option ng-value="1" >Mal Kabul</option>
                                    <option ng-value="2" >Sevkiyat</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">

                            <div class="form-group">
                                <label class="bold bg-font-grey-cararra">Sipariş Kodu</label>
                                <input type="text"  ng-model="filters.OrderCode" class="form-control" placeholder="Sipariş Kodu">
                            </div>
                        </div>
                        <div class="col-md-2">

                            <div class="form-group">
                                <label class="bold bg-font-grey-cararra">Min. Tarih</label>
                                <div class="input-icon">
                                    <i class="fa fa-calendar"></i>
                                    <input type="email" class="form-control" placeholder="Min. Tarih" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">

                            <div class="form-group">
                                <label class="bold bg-font-grey-cararra">Maks. Tarih</label>
                                <div class="input-icon">
                                    <i class="fa fa-calendar"></i>
                                    <input type="email" class="form-control" placeholder="Maks. Tarih" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">

                            <div class="form-group">
                                <label class="bold bg-font-grey-cararra">Sync Status</label>
                                <select class="form-control" ng-model="filters.SyncStatus">
                                    <option ng-value="0">Hepsi</option>
                                    <option ng-value="200">Aktarıldı</option>
                                    <option ng-value="100">Bekliyor</option>
                                    <option ng-value="900">İptal Edildi</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <button type="submit" class="btn green" style="margin: 25px 0px 0px 0px;" ng-click="searchOrder()">
                                    <i class="fa fa-search"></i> Ara
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="portlet-body">


                        <div class="alert alert-success" ng-show="orderList.length  === 0">
                            <span class="bold" style="font-size:13px;">
                                {{searchResultText}}
                            </span>
                        </div>


                        <div class="form-horizontal" ng-show="filters.OrderType === 1 && orderList.length > 0">

                            <div loading-container="tableParamsGetirGoodsIn.settings().$loading">

                                <table ng-table="tableParamsGetirGoodsIn" class="table table-striped table-bordered table-advance table-hover" ng-form="tableForm" disable-filter="isAdding" demo-tracked-table="tableTracker">

                                    <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">


                                        <td class="highlight" title="'Tarih'" ng-switch="row.isEditing" ng-class="Customer.$dirty ? 'bg-warning' : ''" demo-tracked-table-cell>
                                            <div class="success" ng-if="row.SyncStatusCode=='200'"></div>
                                            <div class="danger" ng-if="row.SyncStatusCode=='100'"></div>
                                            <a href="javascript:;" style="text-decoration:none;color:black"> {{row.CreateDate | date:'dd/MM/yyyy HH:mm'}} </a>
                                        </td>

                                        <td title="'WareCode'" ng-switch="row.isEditing" ng-class="Customer.$dirty ? 'bg-warning' : ''" demo-tracked-table-cell>
                                            <span ng-switch-default class="editable-text">{{row.WareCode}}</span>
                                        </td>

                                        <td title="'WareDepositorReceiptNo'" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                            <span ng-switch-default class="editable-text">{{row.WareDepositorReceiptNo}}</span>
                                        </td>


                                        <td title="'WareSupplierAddressCode'" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                            <span ng-switch-default class="editable-text">{{row.WareSupplierAddressCode}}</span>
                                        </td>


                                        <td style="width:100px !important;" title="'Sync Status'" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">




                                            @*<span ng-switch-default class="editable-text">
            <label class="bold" ng-show="row.SyncStatusCode=='200'" style="color:#57e241">
                <i class="fa fa-check"></i>
                Aktarıldı
            </label>

            <label class="bold" ng-show="row.SyncStatusCode =='100'" style="color:red;">
                <i class="fa fa-exclamation-circle" style="font-size:15px;color:red;"></i>
                Bekliyor
            </label>
        </span>*@                           <div class="caption font-green" ng-show="row.SyncStatusCode =='200'">
                                                <i class="fa fa-check font-green"></i>
                                                <span class="caption-subject"> Aktarıldı</span>
                                            </div>

                                            <div class="caption font-red-sunglo" ng-show="row.SyncStatusCode=='100'">
                                                <i class="icon-control-pause font-red-sunglo"></i>
                                                <span class="caption-subject"> Bekliyor</span>
                                            </div>



                                        </td>



                                        <td class="text-left">
                                            <a class="btn  green btn-outline btn-circle btn-sm active" ng-click="searchOrderDetail(row)" ng-show="row.SyncStatusCode == '200'">
                                                <i class="fa fa-share"></i>
                                                Detay
                                            </a>
                                            <a class="btn  red btn-outline btn-circle btn-sm active" ng-click="searchOrderDetail(row)" ng-show="row.SyncStatusCode !='200'">
                                                <i class="fa fa-share"></i>
                                                Detay
                                            </a>
                                        </td>

                                    </tr>
                                </table>

                            </div>

                        </div>

                        <div class="form-horizontal" ng-show="filters.OrderType === 2 && orderList.length > 0">

                            <div loading-container="tableParamsGetirGoodsOut.settings().$loading">
                                <table ng-table="tableParamsGetirGoodsOut" class="table table-condensed table-bordered table-striped" ng-form="tableForm" disable-filter="isAdding" demo-tracked-table="tableTracker">
                                    <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">

                                        <td title="'Tarih'"  ng-switch="row.isEditing" ng-class="Customer.$dirty ? 'bg-warning' : ''" demo-tracked-table-cell>
                                            <span ng-switch-default class="editable-text">
                                                {{row.CreateDate | date:'dd/MM/yyyy HH:mm'}}
                                            </span>
                                        </td>

                                        <td title="'WaorCode'" ng-switch="row.isEditing" ng-class="Customer.$dirty ? 'bg-warning' : ''" demo-tracked-table-cell>
                                            <span ng-switch-default class="editable-text">{{row.WaorCode}}</span>
                                        </td>

                                        <td title="'WaorCustomerAddressCode'"ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                            <span ng-switch-default class="editable-text">{{row.WaorCustomerAddressCode}}</span>
                                        </td>


                                        <td title="'WaorDepositorOrderNo'"  ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                            <span ng-switch-default class="editable-text">{{row.WaorDepositorOrderNo}}</span>
                                        </td>


                                        <td style="width:100px !important;" title="'Sync Status'" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">


                                            <div class="caption font-red-sunglo" ng-show="row.SyncStatusCode=='100'">
                                                <i class="icon-control-pause font-red-sunglo"></i>
                                                <span class="caption-subject"> Bekliyor</span>
                                            </div>

                                            <div class="caption font-green" ng-show="row.SyncStatusCode =='200'">
                                                <i class="fa fa-check font-green"></i>
                                                <span class="caption-subject"> Aktarıldı</span>
                                            </div>

                                            <div class="caption focus-grey" ng-show="row.SyncStatusCode =='900'">
                                                <i class="fa fa-check font-grey"></i>
                                                <span class="caption-subject"> İptal Edildi</span>
                                            </div>

                                        </td>


                                        <td class="text-left">
                                            <a class="btn  green btn-outline btn-circle btn-sm active" ng-click="searchOrderDetail(row)" ng-show="row.SyncStatusCode == '200'">
                                                <i class="fa fa-share"></i>
                                                Detay
                                            </a>
                                            <a class="btn  red btn-outline btn-circle btn-sm active" ng-click="searchOrderDetail(row)" ng-show="row.SyncStatusCode !='200'">
                                                <i class="fa fa-share"></i>
                                                Detay
                                            </a>
                                        </td>

                                    </tr>
                                </table>
                            </div>

                        </div>
                </div>
            </div>
        </div>

    </div>

    <!--MODAL-->
    <div class="modal fade" id="modal-orderDetail" tabindex="-1" role="dialog" aria-hidden="true">
        @*<div class="modal-dialog modal-full">*@
        <div class="modal-dialog modal-full">


            <div class="modal-content">
                @*<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Modal Title</h4>
                    </div>*@
                <div class="modal-body">
                    <div class="row">

                        <div class="portlet light  form-fit">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="caption-subject font-green-haze bold uppercase">SİPARİŞ</span>
                                </div>
                                @*<div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-cloud-upload"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-wrench"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </div>*@
                            </div>
                            <div class="portlet-body form">

                                <!-- BEGIN FORM-->
                                <form action="#" class="form-horizontal">
                                    <div class="form-body">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div>
                                                    <label class="control-label col-md-5 bold">WareCode</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static">  : {{order.WareCode}} </p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="control-label col-md-5 bold">WareDepositorReceiptNo</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.WareDepositorReceiptNo}} </p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="control-label col-md-5 bold">WareInventorySiteCode</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.WareInventorySiteCode}} </p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="control-label col-md-5 bold">statusDescription</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.statusDescription}} </p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="control-label col-md-5 bold">CreateDate</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.CreateDate}} </p>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-4">

                                                <div>
                                                    <label class="control-label col-md-5 bold">WareNotes</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.WareNotes}} </p>
                                                    </div>
                                                </div>

                                                <div>
                                                    <label class="control-label col-md-5 bold">WarePlannedReceiptDate</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.WarePlannedReceiptDate}} </p>
                                                    </div>
                                                </div>

                                                <div>
                                                    <label class="control-label col-md-5 bold">WareSupplierAddressCode</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.WareSupplierAddressCode}} </p>
                                                    </div>
                                                </div>

                                                <div>
                                                    <label class="control-label col-md-5 bold">freeText</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.freeText}} </p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="control-label col-md-5 bold">OrderReferenceCode</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.OrderReferenceCode}} </p>
                                                    </div>
                                                </div>



                                            </div>

                                            <div class="col-md-4">
                                                <div>
                                                    <label class="control-label col-md-5 bold">WarehouseReceiptTypeID</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.WareWarehouseReceiptTypeID}} </p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="control-label col-md-5 bold">WareDepositorReceiptNo</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.WareDepositorReceiptNo}} </p>
                                                    </div>
                                                </div>

                                                <div>
                                                    <label class="control-label col-md-5 bold">status</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.SyncStatusCode}} </p>
                                                    </div>
                                                </div>

                                                <div>
                                                    <label class="control-label col-md-5 bold">integrationCode</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.IntegrationCode}} </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </form>
                                <!-- END FORM-->

                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="portlet light  form-fit">

                            <div class="portlet-title" ng-show="orderDetailList.length > 0">
                                <div class="caption">
                                    <span class="caption-subject font-green-haze bold uppercase">DETAYLAR</span>
                                </div>
                            </div>

                            <div class="portlet-body form">



                                <form action="#" class="form-horizontal form-bordered">
                                    <div class="form-body">



                                        <div class="col-md-12">
                                            <br />
                                            <div class="alert alert-success col-md-4" ng-show="orderDetailList.length  ===  0">
                                                <span class="bold" style="font-size:13px;">
                                                    Sipariş Detayı Bulunmamaktadır.
                                                </span>
                                            </div>
                                            <table id="orderDetailTable" class="table table-bordered table-striped table-condensed flip-content" ng-show="orderDetailList.length > 0">
                                                <thead class="flip-content">
                                                    <tr>
                                                        <th> WareInventoryItemDetailNotes </th>
                                                        <th> WareInventoryItemID </th>
                                                        <th> WareInventoryItemPlanCUQty </th>
                                                        <th> WareInventoryItemUnitID </th>
                                                        <th> WareInventoryItemWRDetailCode </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="row in orderDetailList">
                                                        <td> {{row.WareInventoryItemDetailNotes}} </td>
                                                        <td> {{row.WareInventoryItemID}} </td>
                                                        <td> {{row.WareInventoryItemPlanCUQty}} </td>
                                                        <td> {{row.WareInventoryItemUnitID}} </td>
                                                        <td> {{row.WareInventoryItemWRDetailCode}} </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </form>




                            </div>

                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Kapat</button>
                    @*<button type="button" class="btn green">Save changes</button>*@
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-getir-goodsOutList" tabindex="-1" role="dialog" aria-hidden="true">
        @*<div class="modal-dialog modal-full">*@
        <div class="modal-dialog modal-full">


            <div class="modal-content">
                @*<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Modal Title</h4>
                    </div>*@
                <div class="modal-body">
                    <div class="row">

                        <div class="portlet light  form-fit">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="caption-subject font-green-haze bold uppercase">SİPARİŞ</span>
                                </div>
                                @*<div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-cloud-upload"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-wrench"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </div>*@
                            </div>
                            <div class="portlet-body form">

                                <!-- BEGIN FORM-->
                                <form action="#" class="form-horizontal">
                                    <div class="form-body">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div>
                                                    <label class="control-label col-md-5 bold">WaorCode</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static">  : {{order.WaorCode}} </p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="control-label col-md-5 bold">WaorCustomerAddressCode</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.WaorCustomerAddressCode}} </p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="control-label col-md-5 bold">WaorDepositorOrderNo</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.WaorDepositorOrderNo}} </p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="control-label col-md-5 bold">WaorInventorySiteCode</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.WaorInventorySiteCode}} </p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="control-label col-md-5 bold">WaorNotes</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.WaorNotes}} </p>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-4">

                                                <div>
                                                    <label class="control-label col-md-5 bold">WarehouseOrderTypeID</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.WaorWarehouseOrderTypeID}} </p>
                                                    </div>
                                                </div>

                                                <div>
                                                    <label class="control-label col-md-5 bold">Status</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.SyncStatusCode}} </p>
                                                    </div>
                                                </div>

                                                <div>
                                                    <label class="control-label col-md-5 bold">statusDescription</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.SyncDesc}} </p>
                                                    </div>
                                                </div>

                                                <div>
                                                    <label class="control-label col-md-5 bold">CreateDate</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.CreateDate}} </p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="control-label col-md-5 bold">integrationCode</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.integrationCode}} </p>
                                                    </div>
                                                </div>



                                            </div>

                                            <div class="col-md-4">
                                                <div>
                                                    <label class="control-label col-md-5 bold">freeText</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.freeText}} </p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="control-label col-md-5 bold">OrderReferenceCode</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control-static"> : {{order.OrderReferenceCode}} </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </form>
                                <!-- END FORM-->

                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="portlet light  form-fit">




                            <div class="portlet-title" ng-show="orderDetailList.length > 0">
                                <div class="caption">
                                    <span class="caption-subject font-green-haze bold uppercase">DETAYLAR</span>

                                </div>
                            </div>

                            <div class="portlet-body form">



                                <form action="#" class="form-horizontal form-bordered">
                                    <div class="form-body">



                                        <div class="col-md-12">
                                            <br />
                                            <div class="alert alert-success col-md-4" ng-show="orderDetailList.length  ===  0">
                                                <span class="bold" style="font-size:13px;">
                                                    Sipariş Detayı Bulunmamaktadır.
                                                </span>
                                            </div>
                                            <table id="orderDetailTable" class="table table-bordered table-striped table-condensed flip-content" ng-show="orderDetailList.length > 0">
                                                <thead class="flip-content">
                                                    <tr>
                                                        <th> WaorInventoryItemCode </th>
                                                        <th> WaorInventoryItemDetailNo </th>
                                                        <th> WaorInventoryItemNotes </th>
                                                        <th> WaorInventoryItemPlanCUQty </th>
                                                        <th> WaorInventoryItemUnitID </th>
                                                        <th> status </th>
                                                        <th> statusDescription </th>
                                                        <th> CreateDate </th>
                                                        <th> integrationCode </th>
                                                        <th> freeText </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="row in orderDetailList">
                                                        <td> {{row.WaorInventoryItemCode}} </td>
                                                        <td> {{row.WaorInventoryItemDetailNo}} </td>
                                                        <td> {{row.WaorInventoryItemNotes}} </td>
                                                        <td> {{row.WaorInventoryItemPlanCUQty}} </td>
                                                        <td> {{row.WaorInventoryItemUnitID}} </td>
                                                        <td> {{row.SyncStatusCode}} </td>
                                                        <td> {{row.statusDescription}} </td>
                                                        <td> {{row.CreateDate}} </td>
                                                        <td> {{row.IntegrationCode}} </td>
                                                        <td> {{row.FreeText}} </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </form>




                            </div>

                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Kapat</button>
                    @*<button type="button" class="btn green">Save changes</button>*@
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>



<script src="~/Assets/Scripts/Website/OrderGetir.js"></script>
