﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />

    <title>Dinçer Lojistik </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">        <!--end::Fonts -->
    <!--begin::Page Custom Styles(used by this page) -->
    <link href="/Assets/TemplateFiles/LoginPageV2/login-2.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="/Assets/TemplateFiles/LoginPageV2/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/LoginPageV2/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->

    <link href="/Assets/TemplateFiles/LoginPageV2/light.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/LoginPageV2/light2.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/LoginPageV2/dark.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/TemplateFiles/LoginPageV2/dark2.css" rel="stylesheet" type="text/css" />        <!--end::Layout Skins -->






    <script src="/Assets/TemplateFiles/LoginPageV1/jquery.min.js" type="text/javascript"></script>


    <!--TOAST-->
    <script src="/Assets/Extensions/Toasttr/custom.js"></script>
    <script src="/Assets/Extensions/Toasttr/toastr.js"></script>
    <link href="/Assets/Extensions/Toasttr/toastr.css" rel="stylesheet" />

    <!--CUSTOM LOADING PLUGIN-->
    <link href="~/Assets/Extensions/CustomLoading/jquery.loadingModal.css" rel="stylesheet" />
    <link href="~/Assets/Extensions/CustomLoading/jquery.loadingModal.min.css" rel="stylesheet" />


</head>
<!-- END HEAD -->

<body ng-app="LoginModule" ng-controller="AccountController" class=" login">

    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v2 kt-login--signin" id="kt_login">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-image: url(/Assets/TemplateFiles/LoginPageV2/bg-1.jpg);">
                <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                    <div class="kt-login__container">
                        <div class="kt-login__logo">
                            <a href="#">
                            </a>
                        </div>
                        <div class="kt-login__signin">
                            <div class="kt-login__head">
                                <h3 class="kt-login__title"></h3>
                                <div class="kt-login__logo">
                                    <a href="javascript:;">
                                        <img src="/Assets/Uploads/Images/dincer_logo.png" height="75">
                                    </a>
                                </div>
                            </div>
                            <form class="kt-form" action="">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Username Or Email Address" autocomplete="off" ng-model="account.EmailAddressOrUsername">
                                </div>
                                <div class="input-group">
                                    <input class="form-control" type="password" placeholder="Password" name="password" ng-model="account.Password">
                                </div>

                                <div class="kt-login__actions">

                                    <a href="javascript:;" class="btn btn-pill kt-login__btn-primary" ng-click="login()">Login</a>
                                </div>
                            </form>
                        </div>
                        <!--BU BUTON %100 ÇALIŞIYOR-->
                        @*<button id="btnLogin" class="btn btn-pill kt-login__btn-primary"ng-if="actionType==='login'" ng-disabled="( account.EmailAddress==='' || account.Password==='' )" ng-click="login()">Giriş</button>*@


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Page -->


    <!--V2 STARTS-->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };
    </script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="/Assets/TemplateFiles/LoginPageV2/plugins.bundle.js" type="text/javascript"></script>
    <script src="/Assets/TemplateFiles/LoginPageV2/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts(used by this page) -->
    <script src="/Assets/TemplateFiles/LoginPageV2/login-general.js" type="text/javascript"></script>
    <!--end::Page Scripts -->
    <!--ENDS-->

    <script src="~/Assets/Extensions/CustomLoading/jquery.loadingModal.js"></script>
    <script src="~/Assets/Extensions/CustomLoading/jquery.loadingModal.min.js"></script>
    <script src="~/Assets/Scripts/Global.js"></script>
    <!-- End -->
    <!--ANGULAR-->
    <script src="~/Assets/Scripts/Angular/Files/angular.js"></script>
    <script src="~/Assets/Scripts/Angular/Files/angular-sanitize.js"></script>
    <script src="~/Assets/Scripts/Angular/Files/ng-table.min.js"></script>
    <script src="/Assets/Scripts/Angular/Modules/LoginModule.js"></script>

    <script src="/Assets/Scripts/Website/Account.js"></script>

</body>


</html>