@using System.Web.Http
@using ESube.Service.Areas.HelpPage.Models
@model HelpPageApiModel

@{
    var description = Model.ApiDescription;
    ViewBag.Title = description.HttpMethod.Method + " " + description.RelativePath;
}

<style>
    h2 {
        font-size: 20px;
        color: #32c5d2 !important;
        font-weight: bold;
    }

    table tr td {
        vertical-align: middle !important;
        padding: 0px 0px 0px 10px !important;
    }

        table tr td a {
            color: #525252 !important;
            /*font-weight:bold;*/
            font-size: 13px;
            letter-spacing: 1px;
        }

    p {
        color: #b9b9b9;
        font-style: italic;
        margin: 10px 0 !important;
        letter-spacing: 1px;
    }

    td p {
        color: #2a2a2a !important;
        font-style: unset;
    }

    table thead tr th {
        color: #777777 !important;
        font-weight: bold !important;
        text-transform: uppercase;
    }

    h2 {
        margin: 0px !important;
    }
</style>



<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" ng-controller="ApiServiceDocController">


    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="/Help" class="kt-subheader__breadcrumbs-link">
                    Api Documentation
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    {{apiName}}
                </a>
            </div>
        </div>

    </div>



    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-lg-12">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body">
                        <div class="col-md-12">
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <a href="/Help" class="btn btn-primary" style="color:white">
                                            Back
                                        </a>
                                    </div>
                                </div>
                                <hr />
                                <div class="portlet-body form">
                                    <form action="#" class="form-horizontal">
                                        <section id="contentSection" class="content-wrapper main-content clear-fix">
                                            @Html.DisplayForModel()
                                        </section>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>




<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<script src="~/Assets/Scripts/Website/ApiServiceDoc.js"></script>
