@using System.Web.Http
@using ESube.Service.Areas.HelpPage.ModelDescriptions
@model ModelDescription

<style>

     p {
         color: #b9b9b9;
         font-style: italic;
         letter-spacing: 1px;
         margin: 10px !important;
     }

     table tr td {
         vertical-align: middle !important;
         padding: 0px 0px 0px 10px !important;
         color: #525252 !important;
         font-size: 13px;
         font-weight: 100 !important;
         letter-spacing: 1px;
     }

     .enum-value {
         color: #5f5f5f !important;
         font-weight: initial !important
     }


     /*h2 {
         font-size: 20px;
         color: #32c5d2 !important;
         font-weight: bold;
     }






     td p {
         color: #2a2a2a !important;
         font-style: unset;
     }

     table thead tr th {
         color: #777777 !important;
         font-weight: bold !important;
         text-transform: uppercase;
     }

    */
</style>

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />





<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" ng-controller="ApiServiceResourceController">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Api Documentation
                </a>
            </div>
        </div>

    </div>

    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-lg-12">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body">
                            <h1>@Model.Name</h1>
                            <p>@Model.Documentation</p>
                            <section class="content-wrapper main-content clear-fix">
                                @Html.DisplayFor(m => Model)
                            </section>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>







<script src="~/Assets/Scripts/Website/ApiServiceResource.js"></script>   