﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .mt-radio-outline {
        margin-bottom: 10px !important;
    }

    .mt-radio-list {
        padding: 0px !important;
    }


    #orderDetailTable {
        -webkit-box-shadow: 0px 0px 1px 0px rgba(196,196,196,1);
        -moz-box-shadow: 0px 0px 1px 0px rgba(196,196,196,1);
        box-shadow: 0px 0px 1px 0px rgba(196,196,196,1);
    }

    .control-label {
        text-align: left !important;
    }

    th span, inputHeaders {
        font-weight: 600;
    }

    .bg-font-grey-cararra {
        color: #777777 !important;
    }

    .customSpace {
        margin-bottom: 10px;
    }

    .col-form-label{
        font-weight:600 !important;
    }
    .answerBox{
        color:#969696 !important
    }
</style>

<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" ng-controller="ApplyFormController">
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Apply Forms
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    {{filters.MainCompanyCode}}
                </a>
            </div>
        </div>
    </div>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content" >
        <div class="row">
            <div class="col-lg-12">
                <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <!--begin::Portlet-->
                            <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
                                <div class="kt-portlet__head kt-portlet__head--lg" style="">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">Apply Forms</h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar" style="width: 500px!">
                                        <a href="javascript:;" class="btn btn-clean kt-margin-r-10">
                                            <span class="kt-hidden-mobile"></span>
                                        </a>

                                        <div class="row" style="width:400px!important;margin-top:20px;">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <select class="form-control" ng-model="filters.MainCompanyCode" ng-init="filters.MainCompanyCode=sessionMainCompany.Code" ng-change="getListQuestionAndAnswer()" ng-disabled="sessionMainCompany.Code!==''">
                                                        <option ng-repeat="row in globalMainCompanyList" ng-selected="row.Code === report.MainCompanyCode" ng-value="$index === 0 ? '' : row.Code">{{$index === 0 ? 'Please Select' : row.Name}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="offset-2 col-md-5">

                                                <div class="btn-group" ng-show="sessionUser.RoleListStr.includes('CMP')">
                                                    <button type="button" class="btn btn-brand" ng-click="insertOrUpdateForm()">
                                                        <i class="la la-check"></i>
                                                        <span class="kt-hidden-mobile">Save</span>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="kt-portlet__body" ng-show="isValid(filters.MainCompanyCode)">
                                    <form class="kt-form" id="kt_form">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="kt-section">
                                                    <div class="kt-portlet__body">
                                                        <div ng-repeat="rowA in questionListWithAnswer">

                                                            <ul class="nav nav-tabs  nav-tabs-line nav-tabs-line-2x nav-tabs-line-success" role="tablist">
                                                                <li class="nav-item">
                                                                    <a class="nav-link active" data-toggle="tab" href="#kt_tabs_6_1" role="tab" style="font-weight:bold">{{rowA.Name | uppercase}}</a>
                                                                </li>
                                                            </ul>
                                                            <div class="tab-content">
                                                                <div class="tab-pane active" id="kt_tabs_6_1" role="tabpanel">
                                                                    <div @*ng-show="isValid(report.MainCompanyCode)"*@>


                                                                        <div class="form-group" ng-repeat="rowB in rowA.QuestionList">
                                                                            <label class="col-form-label">{{rowB.QuestionText}}</label>
                                                                            <textarea class="form-control answerBox" type="text" ng-model="rowB._QuestionAnswer[0].Answer" ng-disabled="sessionUser.RoleListStr.includes('ADM')"></textarea>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="kt-separator kt-separator--dashed"></div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--end::Portlet-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--MODAL-->
        <div class="modal fade" id="modal-ReportLine-detail" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-full">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="caption-subject font-green-haze bold uppercase">SİPARİŞ DETAYI</span>
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal" style="float:right !important">Kapat</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                        </div>

                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>



    </div>
</div>



<script src="~/Assets/Scripts/Website/ApplyForm.js"></script>
