﻿<style>
    
    th span {
        font-weight: bold;
        color: #2ab4c0 !important;
    }

    
    th span,inputHeaders{
        font-weight:bold;
        color: #777777!important;
    }
  
   #companyTable thead tr th{
       color: #777777!important;
       font-weight:bold;
    }
       
</style>

    <div class="page-content" ng-controller="CompanyController">

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="">Firma Bilgileri</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12" ng-show="sessionUser.RoleListStr.includes('ADM') || sessionUser.RoleListStr.includes('DEV')">
                <div class="portlet light ">                 

                    <div class="portlet-body">
                        <div class="form-horizontal">
                            <div loading-container="tableParams.settings().$loading">
                                <table id="companyTable" class="table table-striped table-bordered table-advance table-hover">
                                    <thead class="flip-content">
                                        <tr>
                                            <th> FİRMA ADI</th>
                                            <th> FİRMA KODU</th>
                                            <th> EMAİL ADRES</th>
                                            <th> YETKİLİ KİŞİ</th>
                                            <th> AÇIKLAMA</th>
                                            <th> AKTİF</th>
                                            <th> ÜYELİK</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in companyList">
                                            <td class="highlight">
                                                <div class="success" ng-if="row.IsActive"></div>
                                                <a href="javascript:;" style="text-decoration:none;color:#777777;font-weight:bold;">{{row.Name}} </a>
                                            </td>
                                            <td> {{row.Code}} </td>
                                            <td> {{row.EmailAddress}} </td>
                                            <td> {{row.PersonInCharge}} </td>
                                            <td> {{row.Description}} </td>
                                            <td>
                                                <i class="fa fa-check font-green" ng-if="row.IsActive"></i>
                                                <i class="fa fa-ban font-red" ng-if="!row.IsActive"></i>
                                            </td>
                                            <td> {{row.CreateDate  | date:'dd/MM/yyyy'}} </td>
                                            <td>
                                                <a class="btn  green btn-outline btn-circle btn-sm active" @*ng-click="previewLog(row)"*@>
                                                    <i class="fa fa-share"></i>
                                                    Güncelle
                                                </a>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>         
            <div class="col-md-7" ng-show="sessionUser.RoleListStr.includes('CMP')">

                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-green-sharp bold">Firma Bilgileri</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form action="#" class="form-horizontal">

                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Firma Adı</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="" value="{{companyList[0].Name}}" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Açıklama</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="" value="{{companyList[0].Description}}" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Yetkili Kişi Ad Soyad</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="" value="{{companyList[0].PersonInCharge}}"disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Oluşturma Tarihi</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" value="{{companyList[0].CreateDate | date:'dd/MM/yyyy'}}" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Email</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" value="{{companyList[0].EmailAddress}}" disabled>
                                    </div>
                                </div>
                                <div class="form-group last">
                                    <label class="col-md-4 control-label">Aktif</label>
                                    <div class="col-md-6">
                                        <label class="mt-checkbox mt-checkbox-outline">
                                            <input type="checkbox" ng-checked="companyList[0].IsActive">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right">
                                <button type="submit" class="btn green" disabled>Kaydet</button>
                            </div>



                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

<script src="~/Assets/Scripts/Website/Company.js"></script>






