﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" ng-controller="StockController">

    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon-home"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Stock
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    {{filters.MainCompanyCode}}
                </a>
            </div>
        </div>
        @*------------------------------------------------------------------*@



            @*<div class="form-group">
                <button type="reset" class="btn btn-success" style="margin: 25px 0px 0px 0px;"  ng-click="getExportToExcel()">Excel Export</button>
            </div>*@


        @*------------------------------------------------------------------*@
    </div>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row" hidden>
            <div class="col-lg-12">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                            <span class="kt-portlet__head-icon">
                                <i class="kt-font-brand flaticon2-line-chart"></i>
                            </span>
                            <h3 class="kt-portlet__head-title">
                                AJAX Datatable with Child Table
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-wrapper">
                                <a href="#" class="btn btn-clean btn-icon-sm">
                                    <i class="la la-long-arrow-left"></i>
                                    Back
                                </a>
                                &nbsp;
                                <div class="dropdown dropdown-inline">
                                    <button type="button" class="btn btn-brand btn-icon-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="flaticon2-plus"></i> Add New
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <ul class="kt-nav">
                                            <li class="kt-nav__section kt-nav__section--first">
                                                <span class="kt-nav__section-text">Choose an action:</span>
                                            </li>
                                            <li class="kt-nav__item">
                                                <a href="#" class="kt-nav__link">
                                                    <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                                    <span class="kt-nav__link-text">Reservations</span>
                                                </a>
                                            </li>
                                            <li class="kt-nav__item">
                                                <a href="#" class="kt-nav__link">
                                                    <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                                    <span class="kt-nav__link-text">Appointments</span>
                                                </a>
                                            </li>
                                            <li class="kt-nav__item">
                                                <a href="#" class="kt-nav__link">
                                                    <i class="kt-nav__link-icon flaticon2-bell-alarm-symbol"></i>
                                                    <span class="kt-nav__link-text">Reminders</span>
                                                </a>
                                            </li>
                                            <li class="kt-nav__item">
                                                <a href="#" class="kt-nav__link">
                                                    <i class="kt-nav__link-icon flaticon2-contract"></i>
                                                    <span class="kt-nav__link-text">Announcements</span>
                                                </a>
                                            </li>
                                            <li class="kt-nav__item">
                                                <a href="#" class="kt-nav__link">
                                                    <i class="kt-nav__link-icon flaticon2-shopping-cart-1"></i>
                                                    <span class="kt-nav__link-text">stocks</span>
                                                </a>
                                            </li>
                                            <li class="kt-nav__separator kt-nav__separator--fit">
                                            </li>
                                            <li class="kt-nav__item">
                                                <a href="#" class="kt-nav__link">
                                                    <i class="kt-nav__link-icon flaticon2-rocket-1"></i>
                                                    <span class="kt-nav__link-text">Projects</span>
                                                </a>
                                            </li>
                                            <li class="kt-nav__item">
                                                <a href="#" class="kt-nav__link">
                                                    <i class="kt-nav__link-icon flaticon2-chat-1"></i>
                                                    <span class="kt-nav__link-text">User Feedbacks</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet__body">
                        <!--begin: Search Form -->
                        <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                            <div class="row align-items-center">
                                <div class="col-xl-8 stock-2 stock-xl-1">
                                    <div class="row align-items-center">
                                        <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                            <div class="kt-input-icon kt-input-icon--left">
                                                <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                    <span><i class="la la-search"></i></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                            <div class="kt-form__group kt-form__group--inline">
                                                <div class="kt-form__label">
                                                    <label>Status:</label>
                                                </div>
                                                <div class="kt-form__control">
                                                    <select class="form-control bootstrap-select" id="kt_form_status">
                                                        <option value="">All</option>
                                                        <option value="1">Pending</option>
                                                        <option value="2">Delivered</option>
                                                        <option value="3">Canceled</option>
                                                        <option value="4">Success</option>
                                                        <option value="5">Info</option>
                                                        <option value="6">Danger</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                            <div class="kt-form__group kt-form__group--inline">
                                                <div class="kt-form__label">
                                                    <label>Type:</label>
                                                </div>
                                                <div class="kt-form__control">
                                                    <select class="form-control bootstrap-select" id="kt_form_type">
                                                        <option value="">All</option>
                                                        <option value="1">Online</option>
                                                        <option value="2">Retail</option>
                                                        <option value="3">Direct</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 stock-1 stock-xl-2 kt-align-right">
                                    <a href="#" class="btn btn-default kt-hidden">
                                        <i class="la la-cart-plus"></i> New stock
                                    </a>
                                    <div class="kt-separator kt-separator--bstock-dashed kt-separator--space-lg d-xl-none"></div>
                                </div>
                            </div>
                        </div>
                        <!--end: Search Form -->
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--fit">
                        <!--begin: Datatable -->
                        <div class="kt-datatable" id="child_data_ajax"></div>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
            <!-- end:: Content -->
        </div>

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">

                    <div class="col-md-12" ng-show="actionType === 'list'">
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="row">
                                    <div class="col-md-3" ng-show="!isValid(sessionMainCompany.Code)">


                                        <div class="form-group">
                                            <label class="bold font-green-sharp">Main Company</label>
                                            <select class="form-control" ng-init="filters.MainCompanyCode=sessionMainCompany.Code" ng-model="filters.MainCompanyCode" ng-change="resetSearchResult()" ng-disabled="sessionMainCompany.Code!==''">
                                                <option ng-value="$index===0 ? '' : row.Code" ng-repeat="row in globalMainCompanyList" ng-selected="row.Code === sessionMainCompany.Code">{{$index === 0 ? 'All': row.Name}}</option>
                                            </select>
                                        </div>


                                    </div>

                                    <div class="col-md-2">

                                        <div class="form-group">
                                            <label class="bold bg-font-grey-cararra">Stock Date</label>
                                            <input type="text" ng-model="filters.StockDate" class="form-control" placeholder="20191231">
                                        </div>
                                    </div>

                                    <div class="col-md-3">

                                        <div class="form-group">
                                            <label class="bold bg-font-grey-cararra">Warehouse Code</label>
                                            <input type="text" ng-model="filters.WareHouseCode" class="form-control" placeholder="Warehouse Code">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bold bg-font-grey-cararra">Item Code</label>
                                            <input type="text" ng-model="filters.ItemCode" class="form-control" placeholder="Item Code" disabled>
                                        </div>
                                    </div>


                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <button type="reset" class="btn btn-success" style="margin: 25px 0px 0px 0px;" ng-disabled="!isValid(filters.StockDate) || !isValid(filters.MainCompanyCode)" ng-click="getListStock()">Search</button>
                                        </div>
                                    </div>

                                    @*<div class="col-md-1">
                                        <div class="form-group">
                                            <button type="reset" class="btn btn-success" style="margin: 25px 0px 0px 0px;" ng-disabled="!isValid(filters.StockDate) || !isValid(filters.MainCompanyCode)" ng-click="getListStock()">Excel Export</button>
                                        </div>
                                    </div>*@

                                </div>

                            </div>

                            <div class="portlet-body">

                                <div class="alert alert-success" ng-show="stockList.length  === 0">
                                    <span class="bold" style="font-size:13px;">
                                        {{searchResultText}}
                                    </span>
                                </div>

                                <div class="form-horizontal" ng-show="stockList.length > 0">

                                    <div loading-container="tableParamsstock.settings().$loading">

                                        <table ng-table="tableParamsStock" class="table table-striped table-bstocked table-advance table-hover" ng-form="tableForm" disable-filter="isAdding" demo-tracked-table="tableTracker">

                                            <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">


                                                <td class="highlight" title="'CreateDate'" ng-switch="row.isEditing" ng-class="Customer.$dirty ? 'bg-warning' : ''" demo-tracked-table-cell style="width:150px !important">
                                                    <div class="danger" ng-if="row.SyncStatusCode==100"></div>
                                                    <div class="success" ng-if="row.SyncStatusCode==200"></div>
                                                    <a href="javascript:;" style="text-decoration:none;color:black"> {{row.CreateDate | date:'dd/MM/yyyy HH:mm'}} </a>
                                                </td>


                                                <td title="'MainCompanyCode'" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                                    <span ng-switch-default class="editable-text">{{row.mainCompanyCode}}</span>
                                                </td>


                                                <td title="'StockDate '" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                                    <span ng-switch-default class="editable-text">{{row.stockDate.replace('-','').replace('-','')}}</span>
                                                </td>





                                                <td title="'WareHouseCode'" ng-switch="row.isEditing" ng-class="Customer.$dirty ? 'bg-warning' : ''" demo-tracked-table-cell>
                                                    <span ng-switch-default class="editable-text">{{row.warehouseCode}}</span>
                                                </td>




                                                <td title="'ItemCode '" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                                    <span ng-switch-default class="editable-text">{{row.itemCode }}</span>
                                                </td>
                                                <td title="'itemName '" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                                    <span ng-switch-default class="editable-text">{{row.itemName }}</span>
                                                </td>

                                                <td title="'itemSmallUnit '" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                                    <span ng-switch-default class="editable-text">{{row.itemSmallUnit }}</span>
                                                </td>

                                                <td title="'lotCode '" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                                    <span ng-switch-default class="editable-text">{{row.lotCode }}</span>
                                                </td>

                                                <td title="'Quantity '" ng-switch="row.isEditing" demo-tracked-table-cell class="text-left">
                                                    <span ng-switch-default class="editable-text">{{row.quantity }}</span>
                                                </td>

                                            </tr>
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" ng-show="actionType === 'detail'">


                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-toolbar col-md-4">
                                <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#tab_stock" role="tab" aria-selected="true">
                                            stock
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tab_stock_companies" role="tab" aria-selected="false" ng-click="getListstockCompanies()">
                                            Companies
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tab_stock_lines" role="tab" aria-selected="false" ng-click="getListStock()">
                                            Lines
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-8">
                                <div class="dropdown dropdown-inline" style="float:right;">
                                    <button type="button" class="btn btn-brand btn-icon-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="actionType='list'">
                                        Back
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_stock">
                                    <div class="form-group row form-group-marginless kt-margin-t-20">

                                        <label class="col-lg-2 col-form-label customSpace">stockType :</label>
                                        <div class="col-lg-2">
                                            <input class="form-control" value="{{stock.stockType === 1 ? 'Goods IN' :'Goods OUT' }}" disabled>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace">WarehouseCode :</label>
                                        <div class="col-lg-2">
                                            <input class="form-control" value={{stock.WarehouseCode}} disabled>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace">stockDate :</label>
                                        <div class="col-lg-2">
                                            <div class="input-group">
                                                <input class="form-control" value={{stock.stockDate}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace">stockCode :</label>
                                        <div class="col-lg-2">
                                            <div class="input-group">
                                                <input class="form-control" value={{stock.stockCode}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace">stockId :</label>
                                        <div class="col-lg-2">
                                            <div class="input-group">
                                                <input class="form-control" value={{stock.stockId}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace">Cust.stockCode :</label>
                                        <div class="col-lg-2">
                                            <div class="input-group">
                                                <input class="form-control" value={{stock.CustomerstockCode}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace">RelatedstockCode :</label>
                                        <div class="col-lg-2">
                                            <div class="input-group">
                                                <input class="form-control" value={{stock.RelatedstockCode}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace">WaybillCode :</label>
                                        <div class="col-lg-2">
                                            <div class="input-group">
                                                <input class="form-control" value={{stock.WaybillCode}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace">PlannedDate :</label>
                                        <div class="col-lg-2">
                                            <div class="input-group">
                                                <input class="form-control" value={{stock.PlannedDeliveryDate}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace">stockPriority :</label>
                                        <div class="col-lg-2">
                                            <div class="input-group">
                                                <input class="form-control" value={{stock.stockPriority}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace">LoadingType :</label>
                                        <div class="col-lg-2">
                                            <div class="input-group">
                                                <input class="form-control" value={{stock.LoadingType}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace">stockSubType :</label>
                                        <div class="col-lg-2">
                                            <div class="input-group">
                                                <input class="form-control" value={{stock.stockSubType}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace">ShipmentCode :</label>
                                        <div class="col-lg-2">
                                            <div class="input-group">
                                                <input class="form-control" value={{stock.ShipmentCode}} disabled>
                                            </div>
                                        </div>

                                        <label class="col-lg-2 col-form-label customSpace">RecordType :</label>
                                        <div class="col-lg-2">
                                            <div class="input-group">
                                                <input class="form-control" value="{{stock.RecordType === 0 ? 'New Data' : 'Delete Data'}}" disabled>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_stock_companies">

                                    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table class="table table-striped- table-bstocked table-hover table-checkable dataTable no-footer dtr-inline" id="kt_table_1" role="grid" aria-describedby="kt_table_1_info" style="width: 1310px;">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting_desc" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 100.00px;" aria-sort="descending">CompanyType</th>
                                                            <th class="sorting_desc" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 300.00px;" aria-sort="descending">CompanyName</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 88.25px;" aria-label="Country: activate to sort column ascending">TaxNumber</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 141.25px;" aria-label="Ship Address: activate to sort column ascending">TaxDepartmentName</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 110.25px;" aria-label="Company Agent: activate to sort column ascending">CityName</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 172.25px;" aria-label="Company Name: activate to sort column ascending">TownName</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 53.25px;" aria-label="Ship Date: activate to sort column ascending">stockRoleType</th>
                                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 68.5px;" aria-label="Actions"></th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr role="row" class="{{$index%2 === 0 ? 'odd' : 'even'}}odd" ng-repeat="row in stock.CompanyList">

                                                            <td>{{row.CompanyType === 1 ? 'Customer' :'Supplier'}}</td>
                                                            <td>{{row.Name}}</td>
                                                            <td>{{row.TaxNumber}}</td>
                                                            <td>{{row.TaxDepartmentName}}</td>
                                                            <td>{{row.CityName}}</td>
                                                            <td>{{row.TownName}}</td>
                                                            <td>{{row.stockRoleType === 1 ? 'Sender' : (row.stockRoleType === 2 ? 'Receiver' : 'Other')}}</td>
                                                            <td><a href="javascript:;" ng-click="previewCompany(row)">İncele</a></td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="tab-pane" id="tab_stock_lines">
                                    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table class="table table-striped- table-bstocked table-hover table-checkable dataTable no-footer dtr-inline" id="kt_table_1" role="grid" aria-describedby="kt_table_1_info" style="width: 1310px;">
                                                    <thead>
                                                        <tr role="row">

                                                            <th class="sorting_desc" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 45.25px;" aria-sort="descending">LineCode</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 88.25px;" aria-label="Country: activate to sort column ascending">Quantity</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 113.25px;" aria-label="Ship City: activate to sort column ascending">LotCode</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 113.25px;" aria-label="Ship City: activate to sort column ascending">RecordType</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 113.25px;" aria-label="Ship City: activate to sort column ascending">Item</th>
                                                            <th class="sorting" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" style="width: 113.25px;" aria-label="Ship City: activate to sort column ascending"></th>

                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr role="row" class="{{$index%2 === 0 ? 'odd' : 'even'}}odd" ng-repeat="rowX in stock.Lines">

                                                            <td>{{rowX.LineCode}}</td>
                                                            <td>{{rowX.Quantity}}</td>
                                                            <td>{{rowX.LotCode}}</td>
                                                            <td>{{rowX.RecordType}}</td>
                                                            <td>Ürün Kodu</td>
                                                            <td><a href="javascript:;" ng-click="previewstockLineAndItemDetails(rowX)">İncele</a></td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>


    <!--MODAL-->
    <div class="modal fade" id="modal-stockLine-detail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="caption-subject font-green-haze bold uppercase" style="font-weight:bold;">stock DETAIL AND ITEM DATA</span>
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal" style="float:right !important">Close</button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <form class="form-horizontal" role="form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="form-group row form-group-marginless kt-margin-t-20">

                                                    <label class="col-lg-3 col-form-label customSpace">stockCode :</label>
                                                    <div class="col-lg-3">
                                                        <input class="form-control" value="{{stock.stockCode}}" disabled>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">LineCode</label>
                                                    <div class="col-lg-3">
                                                        <input class="form-control" value={{selectedstockLine.LineCode}} disabled>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">Quantity :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLine.Quantity}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">RecordType :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLine.RecordType}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">ContainerType :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLine.ContainerType}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">ProductionDate :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLine.ProductionDate}} disabled>
                                                        </div>
                                                    </div>

                                                </div>
                                                <hr />
                                                <div class="form-group row form-group-marginless kt-margin-t-20">

                                                    <label class="col-lg-3 col-form-label customSpace">ItemCode :</label>
                                                    <div class="col-lg-3">
                                                        <input class="form-control" value="{{selectedstockLineItem.ItemCode}}" disabled>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">ItemDescription</label>
                                                    <div class="col-lg-3">
                                                        <input class="form-control" value={{selectedstockLineItem.ItemDescription}} disabled>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">ShelfLife :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLineItem.ShelfLife}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">AdrTypeLabel :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLineItem.AdrTypeLabel}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">AdrUnNumber :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLineItem.ContainerType}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">AdrMainRiskClass :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLineItem.AdrMainRiskClass}} disabled>
                                                        </div>
                                                    </div>


                                                    <label class="col-lg-3 col-form-label customSpace">AdrAdditionalRisk :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLineItem.AdrAdditionalRisk}} disabled>
                                                        </div>
                                                    </div>


                                                    <label class="col-lg-3 col-form-label customSpace">AdrPackageGroup :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLineItem.AdrPackageGroup}} disabled>
                                                        </div>
                                                    </div>


                                                    <label class="col-lg-3 col-form-label customSpace">AdrTunnelRestrictionCode :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLineItem.AdrTunnelRestrictionCode}} disabled>
                                                        </div>
                                                    </div>


                                                    <label class="col-lg-3 col-form-label customSpace">Volume :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLineItem.Volume}} disabled>
                                                        </div>
                                                    </div>


                                                    <label class="col-lg-3 col-form-label customSpace">GrossWeight :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLineItem.GrossWeight}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">NetWeight :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLineItem.NetWeight}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">QuantityInPackage :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLineItem.QuantityInPackage}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">UnitType :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLineItem.UnitType}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">Width :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLineItem.Width}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">Height :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLineItem.Height}} disabled>
                                                        </div>
                                                    </div>
                                                    <label class="col-lg-3 col-form-label customSpace">Length :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedstockLineItem.Length}} disabled>
                                                        </div>
                                                    </div>




                                                </div>
                                            </div>

                                        </div>

                                        <!--/row-->
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                    </div>

                    <br />
                    <hr />
                    <br />

                    <div class="row">
                        <div class="col-md-12" ng-show="selectedstockLineItemBarcodeList.length>0">
                            <div class="portlet light customPortlet" style="height:auto;">
                                <div class="portlet-title">
                                    <div class="actions">
                                        <span style="font-weight:bold;">ITEM BARCODE LIST</span><br /><br />
                                    </div>
                                </div>
                                <div class="portlet-body">

                                    <div class="col-lg-12">
                                        <table class="table table-striped- table-bstocked table-hover table-checkable dataTable no-footer dtr-inline" id="kt_table_12" role="grid" aria-describedby="kt_table_1_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_desc" tabindex="0" aria-controls="kt_table_12" rowspan="1" colspan="1" style="width: 100.00px;" aria-sort="descending">ItemCode</th>
                                                    <th class="sorting_desc" tabindex="0" aria-controls="kt_table_12" rowspan="1" colspan="1" style="width: 300.00px;" aria-sort="descending">Barcode</th>
                                                    <th class="sorting_desc" tabindex="0" aria-controls="kt_table_12" rowspan="1" colspan="1" style="width: 300.00px;" aria-sort="descending">IsDefault</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr role="row" class="{{$index%2 === 0 ? 'odd' : 'even'}}odd" ng-repeat="row in selectedstockLineItemBarcodeList">
                                                    <td>{{row.ItemCode}}</td>
                                                    <td>{{row.Barcode}}</td>
                                                    <td>{{row.IsDefault}}</td>
                                                </tr>

                                            </tbody>

                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" ng-show="selectedstockLineItemEachCustList.length>0">
                            <div class="portlet light customPortlet" style="height:auto;">
                                <div class="portlet-title">
                                    <br /><br />
                                    <span style="font-weight:bold">ITEM EACH CUSTOMER LIST</span><br /><br />

                                    <div class="actions">
                                        <span class="caption-subject bg-font-red sbold" style="color:#8f8f8f!important">
                                            {{logItem.ResponseDate | date:'dd/MM/yyyy HH:mm:ss'}}
                                        </span>
                                    </div>
                                </div>
                                <div class="portlet-body">

                                    <div class="col-lg-12">
                                        <table class="table table-striped- table-bstocked table-hover table-checkable dataTable no-footer dtr-inline" id="kt_table_12" role="grid" aria-describedby="kt_table_1_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_desc" tabindex="0" aria-controls="kt_table_12" rowspan="1" colspan="1" style="width: 100.00px;" aria-sort="descending">CustomerCode</th>
                                                    <th class="sorting_desc" tabindex="0" aria-controls="kt_table_12" rowspan="1" colspan="1" style="width: 300.00px;" aria-sort="descending">CustomerTitle</th>
                                                    <th class="sorting_desc" tabindex="0" aria-controls="kt_table_12" rowspan="1" colspan="1" style="width: 300.00px;" aria-sort="descending">ItemCode</th>
                                                    <th class="sorting_desc" tabindex="0" aria-controls="kt_table_12" rowspan="1" colspan="1" style="width: 300.00px;" aria-sort="descending">CustItemCode</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr role="row" class="{{$index%2 === 0 ? 'odd' : 'even'}}odd" ng-repeat="row in selectedstockLineItemEachCustList">
                                                    <td>{{row.CustomerCode}}</td>
                                                    <td>{{row.CustomerTitle}}</td>
                                                    <td>{{row.ItemCode}}</td>
                                                    <td>{{row.CustItemCode}}</td>
                                                </tr>

                                            </tbody>

                                        </table>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal fade" id="modal-company-detail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="caption-subject font-green-haze bold uppercase" style="font-weight:bold;">COMPANY</span>
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal" style="float:right !important">Close</button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <form class="form-horizontal" role="form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="form-group row form-group-marginless kt-margin-t-20">

                                                    <label class="col-lg-3 col-form-label customSpace">stockCode :</label>
                                                    <div class="col-lg-3">
                                                        <input class="form-control" value="{{stock.stockCode}}" disabled>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">Company Name</label>
                                                    <div class="col-lg-3">
                                                        <input class="form-control" value={{selectedCompany.Name}} disabled>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">Company Code</label>
                                                    <div class="col-lg-3">
                                                        <input class="form-control" value={{selectedCompany.CompanyCode}} disabled>
                                                    </div>
                                                    <label class="col-lg-3 col-form-label customSpace">TaxNumber :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.TaxNumber}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">TaxDepartmentName :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.TaxDepartmentName}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">CityCode :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.CityCode}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">CityName :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.CityName}} disabled>
                                                        </div>
                                                    </div>

                                                </div>
                                                <hr />
                                                <div class="form-group row form-group-marginless kt-margin-t-20">

                                                    <label class="col-lg-3 col-form-label customSpace">TownCode :</label>
                                                    <div class="col-lg-3">
                                                        <input class="form-control" value="{{selectedCompany.TownCode}}" disabled>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">TownName</label>
                                                    <div class="col-lg-3">
                                                        <input class="form-control" value={{selectedCompany.TownName}} disabled>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">AddressText :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.AddressText}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">GLN :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.GLN}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">IsDispatcher :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.IsDispatcher}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">Phone :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.Phone}} disabled>
                                                        </div>
                                                    </div>


                                                    <label class="col-lg-3 col-form-label customSpace">PostCode :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.PostCode}} disabled>
                                                        </div>
                                                    </div>


                                                    <label class="col-lg-3 col-form-label customSpace">ContactCode :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.ContactCode}} disabled>
                                                        </div>
                                                    </div>


                                                    <label class="col-lg-3 col-form-label customSpace">ContactName :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.ContactName}} disabled>
                                                        </div>
                                                    </div>


                                                    <label class="col-lg-3 col-form-label customSpace">ContactMail :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.ContactMail}} disabled>
                                                        </div>
                                                    </div>


                                                    <label class="col-lg-3 col-form-label customSpace">ContactPhone :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.ContactPhone}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">CompanyType :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value="{{selectedCompany.CompanyType === 1 ? 'Customer' :'Supplier'}}" disabled>


                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">CompanyCode :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.CompanyCode}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">ParentCompanyCode :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value={{selectedCompany.ParentCompanyCode}} disabled>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-3 col-form-label customSpace">stockRoleType :</label>
                                                    <div class="col-lg-3">
                                                        <div class="input-group">
                                                            <input class="form-control" value="{{selectedCompany.stockRoleType === 1 ? 'Sender' : (row.stockRoleType === 2 ? 'Receiver' : 'Other')}}" disabled>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>

                                        </div>

                                        <!--/row-->
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>

<script src="/Assets/Scripts/Website/Stock.js"></script>
